#customers {
    position: relative;

    > .header {
        height: 76px;
        min-height: 76px;
        max-height: 76px;

        .logo {

            .logo-icon {
                margin: 0 16px 0 0;
            }

            .logo-text {
                font-size: 24px;
            }
        }

        md-icon {
            color: #FFFFFF;
        }

        .search-input-wrapper {
            position: relative;

            label {
                padding-right: 4px;
                cursor: pointer;

                md-icon {
                    color: rgba(255, 255, 255, 0.8);
                }

            }

            md-input-container {

                .md-errors-spacer {
                    display: none;
                }

                input {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                    color: rgba(255, 255, 255, 0.8);
                    width: 240px;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.8);
                    }

                    &:focus {
                        border-bottom: 1px solid white;
                        color: white;
                    }
                }
            }
        }

        &.selected-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
            background-image: none;
            opacity: 1 !important;

            .close-button-wrapper {
                width: 244px;
            }
        }
    }

    > .content {
        position: absolute;
        top: 32px;
        bottom: 0;
        right: 0;
        left: 0;

        > md-sidenav {
            box-shadow: $whiteframe-shadow-1dp;
            padding: 0;
        }

        .main {
            padding: 16px 90px 0 4px;
            position: absolute;
            top: 0;
            left: 0px;
            right: 0;
            bottom: 0;

            .customers-list {
                position: relative;
                padding-bottom: 0;

                .md-subheader {
                    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.14);

                    ._md-subheader-inner {
                        padding: 16px;
                    }


                    .list-title {
                        margin-right: 4px;
                    }

                    .edit-group-form {

                        .editable-controls {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;

                            .editable-input {
                                border: 1px solid rgba(0, 0, 0, 0.2);
                                padding: 4px 6px;
                                margin-right: 6px;
                                font-size: 13px;
                            }

                            .editable-buttons {

                            }
                        }

                        .edit-group-button {
                            margin: 0;
                        }

                        .md-button {
                            margin: 0;
                            margin: 0;
                            padding: 0;
                            height: 32px;
                            min-height: 32px;
                            line-height: 32px;
                            width: 32px;
                        }
                    }
                }

                .field-text-column {
                    width: 130px;
                }

                .select-checkbox {
                    margin-bottom: 0px;
                }

            }

            .no-results {
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
            }
        }
    }

    #new-announcement-button {
        position: absolute;
        bottom: 8px;
        right: 8px;
        padding: 0;
        z-index: 800;
    }
}

// RESPONSIVE WIDE SCREEN
@media screen and (min-width: $layout-breakpoint-md) {

    #customers {

        > .content {
            top: 20px;

            .main {
                right: 268px;
            }
        }
    }
}



// RTL fix
#customers {

    > .header {
        direction: rtl;
    }

    #new-announcement-button {
        left: 8px;
        bottom: 20px

    }


    > .content {
        direction: rtl;

        > md-sidenav {
            height: 100%;
            margin-right: 0px;
        }


        .main {
            padding: 23px 4px 0 0;


            .customers-list {
                direction: rtl;

                .secondary-text {
                    text-align: right;
                }
        
            }
        }
    }
}


// Customization
.dataTables_wrapper {

    .dtr-title {
        margin-left: 8px;
        margin-right: 0px;
    }
    
    .table-row{
        cursor: pointer;
    }

    .info {
        margin-right: 20px;
    }
}



// RESPONSIVE SHORT SCREEN
@media screen and (max-width: $layout-breakpoint-xs) {


    #toolbar {
        .logo {
            .logo-text {
                display: none;
            }
        }
    }

    #customers {
        > .header {

            .logo {
                .logo-text {
                    display: none;
                }
            }
        }

        > .content {

            .main {
                left: 0px;
                padding: 0px 0px 25px 0px;
                overflow-y: scroll; /* has to be scroll, not auto */
                -webkit-overflow-scrolling: touch;
            }
        }
    }


    .dataTables_wrapper {
        .info {
            display: none !important;
        }
    }


}