<div id="customers" class="page-layout simple left-sidenav inner-sidenav">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">
        <!-- APP TITLE -->
        <div layout="row" layout-align="start center">
            <span hide-gt-md>סנן</span>
            <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')" aria-label="Toggle sidenav" translate translate-attr-aria-label="CUSTOMERS.TOGGLE_SIDENAV">
                <md-icon md-font-icon="icon-filter-variant" class="icon"></md-icon>
            </md-button>
        </div>
        <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">
        <!-- SIDENAV -->
        <md-sidenav class="sidenav main-sidenav md-sidenav-right md-white-bg" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav" ms-sidenav-helper ng-include="'app/main/apps/customers/sidenavs/main/main-sidenav.html'">
        </md-sidenav>
        <!-- / SIDENAV -->
        <!-- MAIN -->
        <div class="main" ms-scroll>
            <!-- CONTACT LIST -->
            <div class="customers-list" >
                <div class="white-bg md-whiteframe-4dp">
                    <div ng-if="vm.isLoading || vm.isFiltering" vm layout="row" layout-sm="column" layout-align="center center">

                        <md-progress-linear layout="row" layout-align="center center" md-mode="indeterminate"></md-progress-linear>
                    </div>

                    <table ng-if="!vm.isLoading" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <md-checkbox class="select-checkbox" aria-label="בחר הכל" ng-click="vm.toggleAll()" ng-checked="vm.selectAll">
                                        </md-checkbox>
                                    </div>
                                </th>
                                <th>
                                    <div class="table-header">
                                    </div>
                                </th>
                                <th ng-repeat="field in vm.fields" class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">{{field.fieldType.name}}</span>
                                    </div>
                                </th>
                                <!-- Created date -->
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">תאריך הצטרפות</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">תאריך הצטרפות</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" ng-repeat="customer in vm.customers">
                                <td></td>
                                <td>
                                    <md-checkbox class="select-checkbox" aria-label="בחירת משתמש" ng-click="vm.toggleOne(customer.id)" ng-checked="vm.selected[customer.id]">
                                    </md-checkbox>
                                </td>
                                <td>
                                    <img class="avatar" ng-if="customer.profilePicture" alt="{{customer.fields.firstName}} {{customer.fields.lastName}}" ng-src="{{customer.profilePicture.thumb.source}}" />
                                </td>
                                <td ng-repeat="field in vm.fields" ng-switch="field.fieldType.inputType">
                                    <span ng-switch-when="string" class="md-subhead">
                                        {{customer.fields[field.fieldType.key]}}
                                    </span>
                                    <span ng-switch-when="number" class="md-subhead">
                                        {{customer.fields[field.fieldType.key]}}
                                    </span>
                                    <span ng-switch-when="date" class="md-subhead">
                                        {{customer.fields[field.fieldType.key] | date:'dd-MM-yyyy' }}
                                    </span>
                                    <span ng-switch-when="[string]" class="md-subhead">
                                        {{customer.fields[field.fieldType.key].slice(0,2).join()}} {{customer.fields[field.fieldType.key].length > 1 ? '...' : ''}}
                                        {{customer.fields[field.fieldType.key].length == 0 ? 'לא צוין' : ''}}
                                    </span>
                                </td>
                                <!-- Created field -->
                                <td>
                                    <span class="md-subhead">
                                        {{ customer.created | date:'dd-MM-yyyy' }} 
                                    </span>
                                </td>
                                <td>{{ customer.unixCreated }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- / CONTACT LIST -->
        </div>
        <!-- / MAIN -->
    </div>
    <!-- / CONTENT -->
    <!-- ADD CONTACT BUTTON -->
    <md-button ng-disabled="vm.selectedIdsArray().length == 0"  class="md-fab md-accent md-icon-button" id="new-announcement-button" ng-click="vm.openNewAnnouncementDialog($event)" aria-label="הודעה חדשה" translate translate-attr-aria-label="CUSTOMERS.ADD_CONTACT">
        <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
    </md-button>
    <!-- / ADD CONTACT BUTTON -->
</div>
