<md-dialog aria-label="בחירת תמונה" layout-gt-xs="column" ng-controller="FoldersController as vm" class="add-image-dialog">
    <form name="folderUploadForm" layout="column">
        <div layout="column" ms-scroll>
            <div layout-padding flex="100">
                <lf-ng-md-file-input name="files" lf-maxcount="1" lf-files="vm.files" lf-browse-label="חיפוש" lf-placeholder="בחר קובץ" lf-remove-label="מחק" lf-drag-and-drop-label="גרור תמונות" accept="image/jpeg, image/jpg, image/png" lf-filesize="5MB" lf-required multiple drag preview>
                </lf-ng-md-file-input>
                <div ng-messages="folderUploadForm.files.$error" style="color:red; text-align: center;">
                    <div ng-message="required">בחר תמונה כדי להמשיך.</div>
                    <div ng-message="filesize">אחת התמונות שבחרת גדולה מ 5 מגה בייט. אנא נסה שנית עם קובץ קטן יותר.</div>
                    <div ng-message="mimetype">התמונה חייבת להיות מסוג .Png/.Jpeg/.Jpg .</div>
                </div>
            </div>
        </div>
        <div layout="row">
            <div layout-padding flex="100" layout-align="center end">
                <md-dialog-actions>
                    <md-button ng-click="answer(vm.files)" ng-disabled="folderUploadForm.$invalid" flex>
                        שמירה
                        <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
                    </md-button>
                    <md-button ng-click="cancel()" flex>
                        יציאה
                        <md-icon md-font-icon="icon-window-close" class="s24"></md-icon>
                    </md-button>
                </md-dialog-actions>
            </div>
        </div>
    </form>
</md-dialog>
