<div id="layout-vertical-navigation-fullwidth-toolbar-2" class="template-layout" layout="column" flex>

    <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp md-accent" ui-view="toolbar"></md-toolbar>

    <div id="main-container" layout="row" flex>
        
        <md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel" ms-scroll
                    ui-view="quickPanel"></md-sidenav>


        <div id="content-container" flex layout="column">
            <md-content id="content" class="animate-slide-up md-hue-2" ms-scroll ui-view="content" flex></md-content>
        </div>

        <md-sidenav id="vertical-navigation" class="md-sidenav-right md-primary-bg" md-is-locked-open="$mdMedia('gt-sm')"
                    md-component-id="navigation" ms-scroll ui-view="navigation"></md-sidenav>

    </div>


</div>