<!-- CONTACT TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">

        <div>מידע אודות המשתמש</div>

        <div flex></div>

        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('right-sidenav')" aria-label="back">
            <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>

    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom" flex layout="column" layout-align="center center">

        <div layout="column" layout-align="center center">

            <img ng-src="{{vm.customers.getById(vm.currentConversation.customer.id).profilePicture.thumb.source}}" class="md-avatar avatar contact-avatar huge"
                 alt="{{vm.customers.getById(vm.currentConversation.customer.id).name}}"/>

            <div class="contact-name">{{vm.customers.getById(vm.currentConversation.customer.id).fields.firstName+" "+vm.customers.getById(vm.currentConversation.customer.id).fields.lastName}}</div>

        </div>

    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CONTACT TOOLBAR -->

<!-- CONTACT CONTENT -->
<md-content class="md-hue-2" flex ms-scroll ms-padding>

    <!-- CONTACT MOOD -->
    <md-card>

        <md-card-title translate="CHAT.MOOD">Mood</md-card-title>

        <md-card-content>

            <span class="mood" ng-if="vm.customers.getById(vm.currentConversation.customer.id).mood">
                {{vm.customers.getById(vm.currentConversation.customer.id).mood}}
            </span>

        </md-card-content>

    </md-card>
    <!-- / CONTACT MOOD -->

</md-content>
<!-- / CONTACT CONTENT -->