<!-- DIALOG -->
<md-dialog class="customer-dialog" aria-label="New Task">

    <form name="customerForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CUSTOMERS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

            <!-- TOOLBAR MIDDLE -->
            <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <img ng-src="{{vm.customer.profilePicture.thumb.source}}" class="md-avatar avatar customer-avatar huge"
                         alt="{{vm.customer.fields.firstName}}"/>
                    <div class="customer-name">{{vm.customer.fields.firstName}} {{vm.customer.fields.lastName}}</div>
                </div>
            </div>
            <!-- / TOOLBAR MIDDLE -->

            <!--  TOOLBAR BOTTOM -->
            <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="center center">

                <div flex layout="row" layout-align="center center">


                    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" translate
                                   translate-attr-aria-label="TODO.MORE">
                            <md-icon md-font-icon="icon-account-multiple-plus" ng-click="$mdOpenMenu($event)"></md-icon>
                        </md-button>

                        <md-menu-content width="3">


                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
            <!-- / TOOLBAR BOTTOM -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <md-input-container class="md-icon-float md-block">
                <label translate="CUSTOMERS.NAME_REQUIRED">שם</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <input ng-model="vm.customer.fields.firstName" type="text" disabled md-autofocus>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="CUSTOMERS.LAST_NAME">שם משפחה</label>
                <md-icon></md-icon>
                <input ng-model="vm.customer.fields.lastName" disabled type="text">
            </md-input-container>


            <div ng-if="!vm.allFields" layout="row" layout-align="center center">
                <md-button class="md-accent" ng-click="vm.allFields = true" translate="CUSTOMERS.SHOW_ALL_FIELDS">Show
                    All Fields
                </md-button>
            </div>

            <div ng-if="vm.allFields">
                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-phone"></md-icon>
                    <input ng-model="vm.customer.phoneNumber" type="text" disabled placeholder="Phone number" translate
                           translate-attr-placeholder="CUSTOMERS.PHONE_NUMBER">
                </md-input-container>


                <div layout="row" layout-align="center center">
                    <md-button class="md-accent" ng-click="vm.allFields = false" translate="CUSTOMERS.FEWER_FIELDS">Fewer
                        Fields
                    </md-button>
                </div>

            </div>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newContact" ng-click="vm.saveContact()"
                           class="send-button md-accent md-raised"
                           ng-disabled="customerForm.$invalid || customerForm.$pristine"
                           aria-label="SAVE" translate="CUSTOMERS.SAVE" translate-attr-aria-label="CUSTOMERS.SAVE">
                    SAVE
                </md-button>

                <md-button type="submit" ng-if="vm.newContact" ng-click="vm.addNewContact()"
                           class="send-button md-accent md-raised"
                           ng-disabled="customerForm.$invalid || customerForm.$pristine"
                           aria-label="Add Task" translate="CUSTOMERS.ADD_CONTACT"
                           translate-attr-aria-label="CUSTOMERS.ADD_CONTACT">
                    ADD CONTACT
                </md-button>

            </div>

            <div layout="row">
                
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->