<md-dialog aria-label="בחירת תמונה"  ng-controller="dialogController as vm" class="change-image-dialog">
    <div layout="column" layout-padding>
        <div  flex="50">
            <lf-ng-md-file-input 
            lf-maxcount = "1"
            lf-files="vm.files" 
            lf-browse-label="חיפוש" 
            lf-placeholder="בחר קובץ" 
            lf-remove-label="מחק"
            lf-drag-and-drop-label="גרור תמונוה" 
            drag 
            preview>
            </lf-ng-md-file-input>
        </div>
  
        <div  flex="50" >
            <md-dialog-actions >
                <md-button ng-click="answer(vm.files)" flex>
                    שמירה
                    <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
                </md-button>
                <md-button ng-click="cancel()" flex>
                    יציאה
                    <md-icon md-font-icon="icon-window-close" class="s24"></md-icon>
                </md-button>
            </md-dialog-actions>
        </div>
    </div>
</md-dialog>