<div style="position:fixed; height: 100%; width: 100%; overflow-y: auto;">
    <div id="imagesView" class="page-layout carded fullwidth single-scroll" layout="row" dir="rtl">
        <!-- TOP BACKGROUND -->
        <div class="top-bg md-accent-bg"></div>
        <!-- / TOP BACKGROUND -->
        <!-- CENTER -->
        <div class="center" layout="column" flex>
            <!-- CONTENT HEADER -->
            <div class="header" layout="row" layout-align="space-between center">
                <div class="white-fg" layout="column" layout-align="start start">
                    <span class="md-display-3 white-fg">תמונות בתיקיה</span>
                </div>
                <md-button class="md-fab md-accent md-icon-button" ng-click="vm.backToFoldersState()" aria-label="חזור למסך תיקיות" translate translate-attr-aria-label="GALLERY.BACK_TO_FOLDER">
                    <md-icon md-font-icon="icon-backburger" aria-hidden="true"></md-icon>
                </md-button>
            </div>
            <!-- / CONTENT HEADER -->
            <!-- CONTENT CARD -->
            <div class="content" layout="row" layout-padding flex>
                <!-- CONTENT -->
                <!-- SIDENAV -->
                <!--  <md-sidenav flex="15" class="sidenav main-sidenav md-sidenav-right md-white-bg" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav" ms-sidenav-helper ng-include="'app/main/apps/gallery/views/images/sidenavs/main/main-sidenav.html'">
            </md-sidenav> -->
            <!-- / SIDENAV -->
            <!-- MAIN -->
            <!--<pre dir="rtl">{{images | json}}</pre>-->

            <div class="content" layout="column" flex>
                <md-content class="content  _md md-default-theme flex  ps-theme-default ps-active-y" flex ms-scroll style="background: rgba(245, 245, 245, 1);
                border-radius: 20px;">
                <!-- if there are no picture -->
                <md-button ng-if="vm.images.length < 1" class="md-button no-images-button" ng-click="vm.addImages()" aria-label="more" >
                <md-icon md-font-icon="icon-plus-box" style="font-size:40px;"></md-icon>
                    הוסף תמונה</md-button >


                    <div layout="row" layout-xs="column" layout-margin layout-wrap ui-sortable="vm.sortableOptions" ng-model="vm.images">
                        <!--<pre dir="ltr">{{vm.folders | json}}</pre>-->

                        <div flex-xs="100" flex="100" ng-repeat="image in vm.images">
                            <div ng-if="vm.images" class="item-container">
                                <table>
                                    <tr>
                                        <md-card flex="100" ng-click="vm.showAdvanced(image,$event)" ng-model="vm.images[$index]">
                                            <td>
                                                <md-checkbox ng-show="vm.deleteMode" ng-checked="vm.deleteArr.indexOf(image.id)> -1" ng-click="vm.addtoDeleteArray(image.id)" style="font-size:20px;"> <span>הוסף למחיקה</span>
                                                </md-checkbox>
                                                <md-menu ng-hide="vm.deleteMode" md-position-mode="target-right target" ng-click="$event.stopPropagation()">
                                                    <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="more">
                                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="3">
                                                        <md-menu-item>
                                                            <md-button class="md-menu-item md-button md-raised md-warn " aria-label="delete" ng-click="vm.deleteImage($event,image.id)" >
                                                                <!-- <md-icon md-font-icon="icon-delete" style="color: rgb(200,75,75);"></md-icon> -->
                                                                מחק תמונה
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                                <div class="image" style="background-image: url('{{image.picture.thumb.source}}')" ng-show="image.picture.thumb.source"></div>
                                            </td>
                                        </md-card>
                                            <!--<div class="media" flex>
                                        </div>-->
                                        <td class="image-info-cell">
                                            <div flex>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <label class="md-title">כותרת תמונה</label>
                                                    <input placeholder="כותרת תמונה" ng-disabled="vm.deleteMode" ng-click="vm.needImageSave = true;image.edited = true" ng-model="image.title">
                                                </md-input-container>
                                                <!--<pre dir="ltr">{{card | json}}</pre>-->
                                                <md-input-container class="md-block">
                                                    <label class="md-title">תוכן</label>
                                                    <textarea ng-model="image.content" ng-disabled="vm.deleteMode" ng-click="vm.needImageSave = true;image.edited = true" max-rows="3" md-select-on-focus></textarea>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-xs="" ng-if="false">
                                                    <label class="md-title">מחיר</label>
                                                    <input class="md-headline" ng-click="vm.needImageSave = true;image.edited = true" placeholder="אנא ערוך שם תמונה" ng-model="image.price" ng-disabled="image.edit">
                                                </md-input-container>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-sm="column" layout-align="space-around end" class="spinner-position" ng-if="vm.imagesLoading===false">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </md-content>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
</div>
<!--ADD IMAGE BUTTON-->
<div id="fab-buttons" layout="row" layout-padding>

    <!--Delete Option-->
    <md-button ng-disabled="vm.model.showPlus" ng-show="!vm.deleteMode" class="md-fab md-red-bg md-icon-button" id="delete-folders-button" ng-click="vm.deleteMode = true;" aria-label="מחק תקיות" translate translate-attr-aria-label="GALLERY.DELETE_IMAGES">
        <md-tooltip md-delay="500">שמור את כל השינויים בתמונות</md-tooltip>
        <md-icon md-font-icon="icon-trash" class="s24"></md-icon>

    </md-button>
    <md-button ng-disabled="vm.model.showPlus" ng-show="vm.deleteMode" class="md-fab md-red-bg md-icon-button" id="deletecn-folders-button" ng-click="vm.imageDelete($event,false)" aria-label="בטל מחיקה" translate translate-attr-aria-label="GALLERY.DELETE_IMAGES">
        <md-tooltip>בטל את המחיקה</md-tooltip>
        <md-icon md-font-icon="icon-replay" class="s24"></md-icon>
    </md-button>
    <md-button ng-disabled="vm.model.showPlus" ng-show="vm.deleteMode" class="md-fab md-red-bg md-icon-button" id="deletecy-folders-button" ng-click="vm.imageDelete($event,true)" aria-label="מחק תקיות" translate translate-attr-aria-label="GALLERY.DELETE_IMAGES">
        <md-tooltip>מחק את כל התמונות המסומנות</md-tooltip>
        <md-icon md-font-icon="icon-delete" class="s24"></md-icon>
    </md-button>
    

    <md-button ng-disabled="vm.disablePlusButton" ng-show="!vm.deleteMode" class="md-fab md-accent md-icon-button" id="add-image-button" ng-click="vm.addImages()" aria-label="הוסף תמונה" translate translate-attr-aria-label="GALLERY.ADD_FOLDER">
        <md-tooltip md-delay="500">הוסף תמונה חדשה</md-tooltip>
        <md-icon md-font-icon="icon-plus" aria-hidden="true"></md-icon>
    </md-button>
    <!-- / ADD IMAGE BUTTON-->
    <!--  SAVE IMAGES BUTTON-->
    <md-button ng-disabled="vm.model.showPlus" ng-if="!vm.needImageSave" ng-hide="vm.deleteMode" class="md-fab md-accent md-icon-button" id="save-folders-button" ng-click="vm.saveImages()" aria-label="הוסף תיקיה" translate translate-attr-aria-label="GALLERY.SAVE_IMAGES">
        <md-tooltip md-delay="500">שמור את כל השינויים בתמונות</md-tooltip>
        <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
    </md-button>
    <md-button ng-disabled="vm.model.showPlus" ng-if="vm.needImageSave" ng-hide="vm.deleteMode" class="md-fab md-green-bg md-icon-button" id="save-folders-button2" ng-click="vm.saveImages()" aria-label="הוסף תיקיה" translate translate-attr-aria-label="GALLERY.SAVE_IMAGES">
        <md-tooltip md-delay="500">שמור את כל השינויים בתמונות</md-tooltip>
        <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
    </md-button>
    
    <!-- / SAVE IMAGES BUTTON-->
</div>
