.item-container {
    box-shadow: -2px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 5px 2px 2px rgba(0, 0, 0, 0.158), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    //width: 100%;
    .image {
        background-repeat: no-repeat;
        background-position: center !important;
        border-radius: 10px;
        border-spacing: 5px;
        //background-size: 100%;
        height: 165px;
        width: 200px;
        //flex:0 !important;
    }
    .image-info-cell {
        height: 165px;
        width: 100%;
    }
}

#imagesView {
    .md-dialog-container {
        position: fixed;
        top: 15% !important;
        height: 70% !important;
        width: 60%;
        margin-left: 18%;
        margin-right: 33%;
        direction: rtl;
    }
    .spinner-position {
        bottom: 43%;
        right: 43%;
        left: 33%;
        position: fixed;
    }
}

#fab-buttons{
    position: fixed;
    bottom: 15px;
    right: 8px;
    padding: 0;
    z-index: 801;
}

.no-images-button{
    float: right;
    font-size:50px;
    right: 30%;
    top: 40%;
    padding: 20px;
    position: absolute;
}
// RESPONSIVE

/**SELECT IMAGE RESPONSIVE**/

//like iphone 5 regular
@media screen and (max-width: 320px) {
    #imagesView {
        .md-dialog-container {
            top: 0 !important;
            height: 100% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            direction: rtl;
            font-size: 0.8em !important;
        }
    }
}

//like iphone 5 landscape
@media screen and (max-width: 568px) {
    #imagesView {
        .md-dialog-container {
            top: 0 !important;
            height: 100% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 5%;
            direction: rtl;
            font-size: 1.4em;
        }
    }
     .no-images-button{
    font-size:35px;
    right: 10%;
    top: 7%;
}
}

//like iphone 6 regular
@media screen and (max-width: 375px) {
    #imagesView {
        .md-dialog-container {
            top: 0 !important;
            height: 27% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 2%;
            direction: rtl;
        }
    }
     .no-images-button{
    font-size:35px;
    right: 10%;
    top: 7%;
}
}

//like iphone 6 landscape
@media screen and (max-width: 667px) {
    #imagesView {
        .md-dialog-container {
            top: 0 !important;
            height: 100% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 2%;
            direction: rtl;
        }
    }
    .item-container {
        box-shadow: -2px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 5px 2px 2px rgba(0, 0, 0, 0.158), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
        background: rgba(245, 245, 245, 1);
        border-radius: 10px;
        //width: 100%;
        .image {
            background-repeat: no-repeat;
            background-position: center !important;
            border-radius: 10px;
            border-spacing: 1px;
            background-size: 100%;
            height: 90px;
            width: 100px;
            //flex:0 !important;
        }
        .image-info-cell {
            height: 90px;
            width: 100%;
        }
    }
     .no-images-button{
    font-size:35px;
    right: 10%;
    top: 7%;
}
}

//like ipad regular
@media screen and (max-width: 768px) {
    #imagesView {
        .md-dialog-container {
            top: 0 !important;
            height: 100% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 2%;
            direction: rtl;
        }
    }
}

//like ipad landscape
@media screen and (max-width: 1024px) {
    #imagesView {
        .md-dialog-container {
            top: 0 !important;
            height: 100% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 0 !important;
            direction: rtl;
        }
    }
}
