#admin-content {
    direction: rtl;
    .dialog-input-image {
        border-radius: 5px;
        background-color: #E6E6E6;
        width: 325px;
        height: 200px;
    }
    .dialog-input-icon {
        margin: auto;
        border-radius: 5px;
        background-color: #E6E6E6;
        width: 236px;
        height: 276px;
    }
    table {
        border: 3px solid white;
    }
}

#long-desc{
    resize: none;
overflow-y: scroll;
}
#about-content{
    max-height: 350px;
    resize: none;
overflow-y: scroll;
}

.agent-thumb-image {
    height: 75px;
    width: 75px;
    margin: auto;
    border-radius: 50px;
}

md-dialog {
    direction: rtl;
}

#hotpush {
    position: fixed;
    bottom: 35px;
    left: 35px;
    padding: 0;
    z-index: 801;
}
