<div style="position:fixed; height: 100%; width: 100%; overflow-y: auto;">
    <div class="content" id="admin-content">
        <div layout="column" layout-align="center center">
            <md-input-container>
                <label>בחר עסק</label>
                <md-select md-on-open="vm.loadProjects()" ng-change="vm.onProjectSelected()" placeholder="בחר עסק" ng-model="vm.project" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" style="min-width: 200px;">
                    <md-select-header class="demo-select-header">
                        <input ng-model="vm.searchTerm" type="search" placeholder="חפש עסק" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" aria-label="חפש עסק">
                    </md-select-header>
                    <md-optgroup label="פרוייקטים">
                        <md-option ng-value="project" ng-repeat="project in vm.projects |
                        filter: {appName:vm.searchTerm}">
                        <img class="dialog-input-icon" ng-src="{{project.appIcon['29x29']}}" style="width:25px;height: 25px;"> {{project.appName}}
                    </md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <span ng-if="vm.project">{{vm.project.bundleId}}</span>
    </div>
    <!-- BUSSINESS DETAILS -->
    <table ng-if="vm.project" layout="column" layout-align="center center">
        <th>פרטים של העסק</th>
        <tr>
            <td>לאפליקצייה בחנות (One Link)</td>
            <td>
                <a href="{{vm.project.storeUrl}}">קישור</a>
            </td>
        </tr>
        <tr>
            <td>
                שם העסק
            </td>
            <td>
                <md-input-container class="md-block" flex-gt-sm>
                    <input ng-model="vm.project.business.businessDetails.name" aria-label="שם העסק" ng-maxlength="30" required highlight-on-error>
                    <span ng-if="vm.project.business.businessDetails.name.length<=30">30/{{vm.project.business.businessDetails.name.length}} תווים</span>
                    <span style="color:red" ng-if="vm.project.business.businessDetails.name.length == null">אנא הזן שדה לפי ההנחיות (לא יותר מ30 תווים)</span>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <span>שם האפליקציה<md-tooltip md-direction="bottom">
                  איך שהאפליקציה תופיע בטלפון
              </md-tooltip></span>
          </td>
          <td>
            <md-input-container class="md-block" flex-gt-sm>
                <input name="appName" ng-model="vm.project.appName" aria-label="שם האפליקציה" ng-maxlength="30" required>
                <span ng-if="vm.project.appName.length<=30">30/{{vm.project.appName.length}} תווים</span>
                <span style="color:red" ng-if="vm.project.appName.length == null">אנא הזן שדה לפי ההנחיות (לא יותר מ30 תווים)</span>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>
            <span>שם האפליקציה בחנות<md-tooltip md-direction="bottom">
              איך שהאפליקציה תופיע בחנות
          </md-tooltip></span>
      </td>
      <td>
        <md-input-container class="md-block" flex-gt-sm>
            <input ng-model="vm.project.storeTitle" aria-label="שם האפליקציה בחנות" ng-maxlength="30" required>
            <span ng-if="vm.project.storeTitle.length<=30">30/{{vm.project.storeTitle.length}} תווים</span>
            <span style="color:red" ng-if="vm.project.storeTitle.length == null">אנא הזן שדה לפי ההנחיות (לא יותר מ30 תווים)</span>
        </md-input-container>
    </td>
</tr>
<tr>
    <td>
        קטגוריה
    </td>
    <td>
        <md-select placeholder="בחר קטגוריה" ng-model="vm.project.categoryIos" required>
            <md-option ng-value="opt" ng-repeat="opt in vm.categoryDictionary">{{opt}}</md-option>
        </md-select>
    </td>
</tr>
<tr>
    <td>
        <span>מילות מפתח<md-tooltip md-direction="bottom">
          מילים נוספות לחיפוש בחנות
      </md-tooltip></span>
  </td>
  <td>
    <md-input-container class="md-block" flex-gt-sm>
        <textarea ng-model="vm.project.keywords" aria-label="מילות מפתח" required></textarea>
    </md-input-container>
</td>
</tr>
<tr>
    <td>
        הסבר קצר
    </td>
    <td colspan="100%">
        <md-input-container class="md-block" flex-gt-sm>
            <textarea ng-model="vm.project.shortDesc" aria-label="תיאור קצר" required></textarea>
        </md-input-container>
    </td>
</tr>
<tr>
    <td>
        הסבר ארוך
    </td>
    <td colspan="100%">
        <md-input-container class="md-block" flex-gt-sm>
            <textarea id="long-desc" ng-model="vm.project.longDesc" aria-label="תיאור ארוך" required></textarea>
        </md-input-container>
    </td>
</tr>
<tr>
    <td>
        תוכן אודות
    </td>
    <td colspan="100%">
        <md-input-container class="md-block" flex-gt-sm>
            <textarea id="about-content" ng-model="vm.project.business.businessDetails.aboutContent" aria-label="תוכן אודות"></textarea>
        </md-input-container>
    </td>
</tr>
<tr>
    <td>
        GPS
    </td>
    <td>
        <md-input-container class="md-block" flex-gt-sm>
            Longitude
            <input ng-model="vm.project.business.businessDetails.mainAddressLocation.lng" aria-label="Longitude">
        </md-input-container>
    </td>
    <td>
        ,
    </td>
    <td>
        <md-input-container class="md-block" flex-gt-sm>
            Latitude
            <input ng-model="vm.project.business.businessDetails.mainAddressLocation.lat" aria-label="Latitude">
        </md-input-container>
    </td>
</tr>
<tr>
    <td>
        טלפון העסק
    </td>
    <td>
        <md-input-container class="md-block" flex-gt-sm>
            <input ng-model="vm.project.business.businessDetails.phone" aria-label="טלפון העסק">
        </md-input-container>
    </td>
</tr>
<tr>
    <td>
        <span>Facebook ID<md-tooltip md-direction="bottom">
          העמוד ממנו מסתנכרנות התמונות
      </md-tooltip></span>
  </td>
  <td>
    <md-input-container class="md-block" flex-gt-sm>
        <input ng-model="vm.project.business.businessDetails.facebookPageId" aria-label="Facebook ID">
    </md-input-container>
</td>
</tr>
<tr>
    <td>
        <span>קישור לאתר העסק<md-tooltip md-direction="bottom">
          יוביל גם כאתר באפליקציה
      </md-tooltip></span>
  </td>
  <td>
    <md-input-container class="md-block" flex-gt-sm>
        <input ng-model="vm.project.business.businessDetails.websiteUrl" aria-label="קישור לאתר העסק">
    </md-input-container>
</td>
</tr>
<tr>
    <td>
        <md-checkbox ng-model="vm.project.awaitingUpdates" ng-change="vm.saveProject()" aria-label="">
            <span>עדכן אוטומטית<md-tooltip md-direction="bottom">
              אם תרצה להשאר מעודכן בשיפורים
          </md-tooltip></span>
      </md-checkbox>
  </td>
</tr>
<!-- BUSSINESS SAVE BUTTON -->
<tr>
    <td>
        <td>
                <md-button ng-if="vm.project" class="md-raised md-primary" ng-click="vm.updateProjectAndBusinessDetails($event)" aria-label="שמור פרטים">
                <md-icon md-font-icon="icon-floppy" ng-show="!vm.isSavingDetails"></md-icon>
                <md-tooltip md-direction="bottom">שמור את הפרטים הנוכחים</md-tooltip>
            </md-button>
        </td>
    </td>
</tr>
<!-- BUSSINESS SAVE BUTTON -->
</table>
<!-- /BUSSINESS DETAILS -->
<!-- AGENT DETAILS -->
<table ng-if="vm.project" layout="column" layout-align="center center">
    <th>פרטי הסוכן</th>
    <td>
        <md-input-container>
            <label>הוסף פיצ׳ר חדש</label>
            <md-select md-on-open="vm.loadAgents()" ng-change="vm.onAgentSelect()" placeholder="בחר סוכן" ng-model="vm.selectedAgent" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" style="min-width: 200px;">
                <md-select-header class="demo-select-header">
                    <input ng-model="vm.searchTerm" type="search" placeholder="חפש סוכן" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" aria-label="בחר סוכן">
                </md-select-header>
                <md-optgroup label="סוכנים נוספים">
                    <md-option ng-value="new">צור סוכן חדש...</md-option>
                    <md-option ng-value="agent" ng-repeat="agent in vm.agents |
                    filter:vm.searchTerm">{{agent.firstName}} {{agent.lastName}} - {{agent.username}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </td>
            <!-- <tr>
        <td></td>
        <td>
            <img class="agent-thumb-image" ng-src="{{vm.selectedAgent.profilePicture.thumb.source}}">
        </td>
    </tr> -->
    <tr>
        <td>
            שם משתמש
        </td>
        <td>
            <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="vm.selectedAgent.username" aria-label="שם משתמש">
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>
            סיסמה
        </td>
        <td>
            <md-input-container class="md-block" flex-gt-sm>
                <textarea ng-model="vm.selectedAgent.password" aria-label="סיסמה" ng-disabled="!vm.newAgentPassword"></textarea>

            </md-input-container>
        </td>
        <td><md-checkbox ng-model="vm.newAgentPassword" aria-label="">שנה סיסמה                               
            <md-tooltip md-direction="bottom">סמן במידה ותרצה לשנות או ליצור סיסמה</md-tooltip></md-checkbox></td>

        </tr>
        <tr>
            <td>
                אימייל
            </td>
            <td>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" ng-model="vm.selectedAgent.email" translate translate-attr-placeholder="LOGIN_V2.EMAIL" ng-pattern="/^.+@.+\..+$/" aria-label="אימייל הסוכן">
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                            <!-- <div ng-message="required">
                            <span translate="LOGIN_V2.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div> -->
                        <div ng-message="pattern">
                            <span translate="LOGIN_V2.ERRORS.EMAIL_MUST_VALID">האמייל חייב להיות כתובת מייל חוקית</span>
                        </div>
                    </div>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                שם מלא
            </td>
            <td>
                <md-input-container class="md-block" flex-gt-sm>
                    שם פרטי
                    <input ng-model="vm.selectedAgent.firstName" aria-label="First Name">
                </md-input-container>
            </td>
            <td>
            </td>
            <td>
                <md-input-container class="md-block" flex-gt-sm>
                    שם משפחה
                    <input ng-model="vm.selectedAgent.lastName" aria-label="Last Name">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                Agent ID
            </td>
            <td>
                <md-input-container class="md-block" flex-gt-sm>
                    <input ng-model="vm.selectedAgent.id" aria-label="AGENT ID" disabled>
                </md-input-container>
            </td>
            </tr>
            <!-- AGENT SAVE BUTTON -->
            <tr>
                <td>
                    <td>
                        <md-button ng-if="vm.project" class="md-raised md-primary" ng-click="vm.addNewAgent($event)" aria-label="הוסף סוכן">
                            <md-icon md-font-icon="icon-account-plus" ng-show="!vm.isAddingNewAgent"></md-icon>
                            <md-tooltip md-direction="bottom">הוסף/ערוך את הסוכן!</md-tooltip>
                        </md-button>
                    </td>
                </td>
            </tr>
            <!-- AGENT SAVE BUTTON -->
        </table>
        <!-- /AGENT DETAILS -->
        <!-- FIELDS -->
        <table ng-if="vm.project.business.fields" layout="column" layout-align="center center" style="border-spacing: 20px; ">
            <tr>
                <th>שדות הרשמה</th>
            </tr>
            <tr ng-repeat="businessField in vm.project.business.fields" ng-if="!businessField.fieldType.isMandatory">
            <td style="max-width: 250px;">
                    {{businessField.fieldType.name}}
                    <md-tooltip md-direction="bottom" ng-if="businessField.fieldType.androidComponentType == 'radioButton'"> בחירה אחת</md-tooltip>
                    <md-tooltip md-direction="bottom" ng-if="businessField.fieldType.androidComponentType == 'nameField'"> טקסט חופשי </md-tooltip>
                    <md-tooltip md-direction="bottom" ng-if="businessField.fieldType.androidComponentType == 'emailField'"> אימייל </md-tooltip>
                    <md-tooltip md-direction="bottom" ng-if="businessField.fieldType.androidComponentType == 'datePicker'"> תאריך </md-tooltip>
                    <md-tooltip md-direction="bottom" ng-if="businessField.fieldType.androidComponentType == 'multiPicker'"> בחירה מרובה </md-tooltip>

                </td>
                <td>
                    <td style="text-overflow: scroll;
                    /* Required for text-overflow to do anything */
                    white-space: nowrap;
                    overflow-x: scroll;
                    max-width: 200px;"> {{businessField.fieldType.predefinedValues}}</td>

                </td>
                <td>
                    <md-checkbox ng-model="businessField.isRequired" ng-change="vm.updateField(businessField)" aria-label="{{businessField.fieldType.name}}">
                        חובה למילוי
                    </md-checkbox>
                </td>
                <td>
                    <md-button ng-click="vm.deleteField(businessField.fieldTypeId)" class="md-raised md-warn md-primary">הסר</md-button>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container>
                        <label>הוסף שדה חדש</label>
                        <md-select ng-model="vm.selectedField" ng-change="vm.onFieldSelect()" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                            <md-select-header class="demo-select-header">
                                <input ng-model="vm.searchTerm" type="search" placeholder="חפש שדה" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" aria-label="בחירת שדות הרשמה">
                            </md-select-header>
                            <md-optgroup label="שדות">
                                <md-option style="max-width: 325px;" ng-value="field" ng-repeat="field in vm.fieldTypes |
                                filter:vm.searchTerm">{{field.name}} - {{field.description}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <md-progress-circular ng-if="vm.isUpdatingFields" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                </td>
            </tr>
        </table>
        <!-- /FIELDS -->
        <!-- FEATURES -->
        <table ng-if="vm.project" layout="column" layout-align="center center" style="border-spacing: 10px;">
            <tr>
                <th>פיצ׳רים</th>
                <th>שם הפיצ׳ר</th>
            </tr>
            <tr ng-repeat="feature in vm.project.featureSet" ng-if="!feature.feature.isMandatory">
                <td>
                    {{feature.feature.name}}
                </td>
                <td>
                    (
                    <input ng-model="feature.displayName">)
                </td>
                <td>
                    <md-button ng-click="vm.featureUpdate(feature.displayName, feature.featureId)" class="md-raised md-green-bg md-primary">שמור</md-button>
                    <md-button ng-click="vm.deleteFeature(feature)" class="md-raised md-warn md-primary">הסר</md-button>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container>
                        <label>הוסף פיצ׳ר חדש</label>
                        <md-select ng-model="vm.selectedFeature" ng-change="vm.onFeatureSelect()" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                            <md-select-header class="demo-select-header">
                                <input ng-model="vm.searchTerm" type="search" placeholder="חפש פיצ׳ר" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" aria-label="בחרו פיצ׳רים">
                            </md-select-header>
                            <md-optgroup label="פיצ׳רים נוספים">
                                <md-option ng-value="feature" ng-repeat="feature in vm.features |
                                filter:vm.searchTerm">{{feature.name}} </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <md-progress-circular ng-if="vm.isUpdatingFeatures" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                </td>
            </tr>
        </table>
        <!-- /FEATURES -->
        <!-- Component Edit -->
        <!--     <table ng-if="vm.project" layout="column" layout-align="center center" style="border-spacing: 10px;">
        <tr>
            <td>
                <md-input-container>
                    <label>שנה מאפייני פעילויות</label>
                    <md-select ng-model="vm.selectedActivity" ng-change="" md-on-close="vm.clearFeatureSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                        <md-select-header class="demo-select-header">
                            <input ng-model="vm.featureSearchTerm" type="search" placeholder="חפש אפשרויות" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" aria-label="בחר פעילות">
                        </md-select-header>
                        <md-optgroup label="אפשרויות נוספות">
                            <md-option ng-value="activity" ng-repeat="activity in vm.product.applicationData.activities |
                      filter:vm.featureSearchTerm">{{activity.name}} </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

            </td>
        </tr>
        <tr><td>
        </td></tr>
    </table> -->
    <!-- /Component Edit -->
    <!-- AssetUpload -->
    <!-- ICON -->
    <table ng-if="vm.project" layout="column" layout-align="center center">
        <th>העלאת אייקון אפליקציה</th>
        <tr>
            <td>
                <tr>
                    <td>
                        <md-dialog-content ms-scroll class="dialog-content">
                            <div layout="row" layout-align="space-between center" flow-init="vm.ngFlowOptions" flow-name="vm.ngFlow.flow" flow-file-added="vm.fileAdded($file,'icon')">
                                <div class="dialog-input-icon" ng-if="!vm.iconLocalFile" layout="column" layout-align="center center">
                                    <img class="dialog-input-icon" ng-src="{{vm.project.appIcon['512x512']}}" style="width:256px;height: 256px">
                                    <md-button class="md-accent md-raised" layout="row" flow-btn>
                                        החלף אייקון
                                    </md-button>
                                </div>
                                <div class="dialog-input-icon" ng-if="vm.iconLocalFile" layout="column" layout-align="center center">
                                    <img class="dialog-input-icon" flow-img="vm.iconLocalFile">
                                    <md-button class="md-accent md-raised" layout="row" flow-btn>
                                        החלף אייקון
                                    </md-button>
                                </div>
                                <input ng-show="false" ng-model="vm.iconLocalFile" type="text" ng-required="true" style="width: 100%">
                            </div>
                        </md-dialog-content>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-button class="md-accent md-raised" ng-disabled="vm.iconDisableUpload" layout-align="center center" ng-click="vm.updateIcon($event)" style="width: 100%;">
                            <md-icon md-font-icon="icon-cloud-upload" layout="row" layout-align="center center" ng-hide="vm.isSavingIcon"></md-icon>
                            העלאת אייקון
                            <md-progress-circular layout-align="center center" ng-show="vm.isSavingIcon" md-mode="indeterminate" style="margin: auto;"></md-progress-circular>
                        </md-button>
                    </td>
                </tr>
            </td>
            <!-- /ICON -->
            <!-- OTHER_IMGS -->
            <th>העלאת תמונה</th>
            <td>
                <tr>
                    <td>
                        <md-select md-on-open="vm.loadAssets()" ng-change="vm.onAssetSelect()" placeholder="שם הקובץ" ng-model="vm.selectedAsset" style="min-width: 200px;" required>
                            <md-option ng-value="asset" ng-repeat="asset in vm.assets">{{asset.name}}</md-option>
                        </md-select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-dialog-content ms-scroll class="dialog-content">
                            <div layout="row" layout-align="space-between center" flow-init="vm.ngFlowOptions" flow-name="vm.ngFlow.flow" flow-file-added="vm.fileAdded($file,'assets')">
                                <div class="dialog-input-image" ng-if="!vm.assetLocalFile && !vm.selectedAsset" layout="column" layout-align="center center">
                                    <div layout="column">
                                        <md-icon md-font-icon="icon-file-image" layout="row" layout-align="center center"></md-icon>
                                        <md-button class="md-accent md-raised" layout="row" ng-disabled="!vm.selectedAsset" flow-btn>בחר תמונה
                                        </md-button>
                                    </div>
                                </div>
                                <div class="dialog-input-image" ng-if="vm.selectedAsset && !vm.assetLocalFile" layout="column" layout-align="center center">
                                    <img class="dialog-input-image" ng-src="{{vm.selectedAsset.x1.source}}">
                                    <md-button class="md-accent md-raised" layout="row" flow-btn>
                                        החלף תמונה
                                    </md-button>
                                </div>
                                <div class="dialog-input-image" ng-if="vm.assetLocalFile" layout="column" layout-align="center center">
                                    <img class="dialog-input-image" flow-img="vm.assetLocalFile">
                                    <md-button class="md-accent md-raised" layout="row" flow-btn>
                                        החלף תמונה
                                    </md-button>
                                </div>
                                <input ng-show="false" ng-model="vm.assetLocalFile" type="text" ng-required="true" style="width: 100%">
                            </div>
                        </md-dialog-content>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-button class="md-accent md-raised" ng-disabled="vm.disableUpload" layout-align="center center" ng-click="vm.updateAsset($event)" style="width: 100%;">
                            <md-icon md-font-icon="icon-cloud-upload" layout="row" layout-align="center center" ng-hide="vm.isSavingAsset"></md-icon>
                            העלאת תמונה
                            <md-progress-circular layout-align="center center" ng-show="vm.isSavingAsset" md-mode="indeterminate"></md-progress-circular>
                        </md-button>
                    </td>
                </tr>
            </td>
        </tr>
    </table>
    <!-- /OTHER_IMGS -->
    <!-- /AssetUpload -->
    <!-- COLOR PALLET -->
    <table ng-if="vm.project" layout="column" layout-align="center center" style="border-spacing:15px;">
        <th>בחר צבעים</th>
        <tr>
            <td>
                <md-select placeholder="בחר צבע" ng-change="vm.saveStyleDisable = true" ng-model="vm.pColor" style="min-width: 200px;background-color: {{vm.colorsDictionary[vm.pColor]}};">
                    <md-option ng-value="key" style="background-color:{{val}};color:#FFFFFF" ng-repeat="(key, val) in vm.colorsDictionary ">{{key}}</md-option>
                </md-select>
            </td>
            <td>
                <md-select placeholder="בחר צבע" ng-change="vm.saveStyleDisable = true" ng-model="vm.aColor " style="min-width: 200px;background-color: {{vm.colorsDictionary[vm.aColor]}}; ">
                    <md-option ng-value="key" style="background-color:{{val}};color:#FFFFFF " ng-repeat="(key, val) in vm.colorsDictionary">{{key}}</md-option>
                </md-select>
            </td>
        </tr>
    </table>
    <table ng-if="vm.project" layout="column" layout-align="center center">
        <tr>
            <td>
                <div layout="row" layout-wrap>
                    <div flex="33" style="max-height: 75px" ng-if="val.indexOf('#') !== -1" ng-repeat="(key, val) in vm.project.style">
                        <div style="background-color: {{val}}" md-color-picker ng-model="vm.project.style[key]" label="{{key}}" default="" click-outside-to-close="true" md-color-alpha-channel="false">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table ng-if="vm.project" layout="column" layout-align="center center" style="border-spacing:15px;">
        <tr>
            <td>
                <md-button ng-show="!vm.isCalculatingStyle" ng-if="vm.project" class="md-raised md-accent" ng-click="vm.calcStyle()" aria-label="שחב צבעים">
                    <md-icon md-font-icon="icon-palette"></md-icon>
                    <md-tooltip md-direction="bottom">חשב את העירוב החדש</md-tooltip>
                </md-button>
            </td>
            <td>
                <md-progress-circular ng-if="vm.isCalculatingStyle" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                <md-button ng-show="!vm.isCalculatingStyle" ng-if="vm.project" class="md-raised md-warn" ng-click="vm.revertStyle()" aria-label="שחזר צבעים">
                    <md-icon md-font-icon="icon-reload"></md-icon>
                    <md-tooltip md-direction="bottom">החזר לסגנון השמור האחרון</md-tooltip>
                </md-button>
            </td>
            <td>
                <md-button ng-show="!vm.isCalculatingStyle" ng-disabled="vm.saveStyleDisable" ng-if="vm.project" class="md-raised md-accent" ng-click="vm.saveStyle()" aria-label="שמור שינויים">
                    <md-icon md-font-icon="icon-brush"></md-icon>
                    <md-icon md-font-icon="icon-floppy"></md-icon>
                    <md-tooltip md-direction="bottom">שמור את הסגנון הנוכחי</md-tooltip>
                </md-button>
            </td>
        </tr>
    </table>
</div>
</div>
<!-- /COLOR PALLET -->
<!-- HOTPUSH BUTTON -->
<md-button id="hotpush" ng-if="vm.project" class="md-fab md-accent md-icon-button" ng-click="vm.executeHotpush($event)" aria-label="הודעה חדשה" translate translate-attr-aria-label="CUSTOMERS.ADD_CONTACT">
    <md-icon md-font-icon="icon-airplane" ng-show="!vm.isHotpushing"></md-icon>
    <md-progress-circular layout-align="center center" ng-show="vm.isHotpushing" md-mode="indeterminate"></md-progress-circular>
</md-button>
<!-- / HOTPUSH BUTTON -->
