<!-- SIDENAV CONTENT -->
<div layout-gt-sm="row" layout="column">

    <div flex-gt-sm="100" flex>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>תיקיות</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-divider>

                </md-divider>
                <md-list-item class="md-3-line md-raised" ng-repeat="folder in vm.folders">
                    <div layout="column">
                        <div flex>

                            <img style="vertical-align:middle;cursor:pointer" ng-src="{{folder.picture.thumb.source}}" class="md-avatar" alt="{{folder.title}}"
                                ng-click="vm.folderSelected(folder)" />
                            <md-checkbox ng-click="vm.folderSelected(folder)" ng-model="folder.show" ng-if="folder.show">
                            </md-checkbox>
                        </div>
                        <div flex="100">
                            <form name="folderSideBarForm">
                                <md-input-container class="md-block" flex-gt-xs="">
                                    <input required name="folder" ng-model="folder.title" ng-disabled="!folder.show"  aria-label="placeholder">
                                    <div ng-messages="folderSideBarForm.folder.$error">
                                    </div>
                                </md-input-container>
                                <md-button class="md-icon-button" aria-label="Share" ng-click="vm.editFolderTitle(folder)" 
                                ng-if="folderSideBarForm.folder.$valid && folderSideBarForm.folder.$touched && folderSideBarForm.folder.$dirty && folder.show">
                                    <md-icon md-font-icon="icon-content-save" class="s24" style="color: rgb(41,98,255);"></md-icon>
                                </md-button>
                            </form>
                        </div>
                      


                    </div>



                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <!-- / SIDENAV CONTENT -->