<div id="login-v2" layout="row" layout-align="start">
    <div id="login-v2-intro" flex hide show-gt-sm>
        <div class="logo">
            <span><img src="assets/images/logos/agombi.png"/></span>
        </div>
        <div class="title" translate="LOGIN_V2.INTRO_TITLE">
            ברוך הבא לאגומבי!
        </div>
        <div class="description" translate="LOGIN_V2.INTRO_DESCRIPTION">
            כאן תוכל להתחבר לעמוד הבקר של העסק שלך ולנהל את הלקוחות שלך מרחוק!
        </div>
    </div>

    <div id="login-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-v2-form">
            <div class="logo">
                <span><img src="assets/images/logos/agombi.png"/></span>
            </div>

            <div class="title" translate="LOGIN_V2.TITLE">Log in to your account</div>
            <div class="description" translate="LOGIN_V2.DESCRIPTION">Sed mollis velit facilisis facilisis viverra</div>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="username" name="email/username" ng-model="vm.form.userNameEmail" placeholder="Email/Username" required="" 
                           translate translate-attr-placeholder="שם משתמש\אימייל">
                   
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate translate-attr-placeholder="LOGIN_V2.PASSWORD"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="LOGIN_V2.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <span class="remote-error" ng-if="vm.remoteError">{{vm.remoteError}}</span>

                <div class="remember-forgot-password" layout="row" layout-sm="column"
                     layout-align="space-between center">
                    <md-checkbox class="remember-me" ng-model="vm.form.remember" aria-label="Remember Me">
                        <span translate="LOGIN_V2.REMEMBER_ME">Remember Me</span>
                    </md-checkbox>


                    <a ng-hide="true" ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color"
                       translate="LOGIN_V2.FORGOT_PASSWORD">Forgot Password?</a>
                </div>

                <div ng-show="vm.isProgress" layout="row" layout-sm="column" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-button ng-show="!vm.isProgress" type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine"
                           translate="LOGIN_V2.LOG_IN" translate-attr-aria-label="LOGIN_V2.LOG_IN" ng-click="vm.login(vm.form)">
                    LOG IN
                </md-button>

            </form>

<!--             <div class="separator">
                <span class="text" translate="LOGIN_V2.OR">OR</span>
            </div>

            <div layout="column" layout-align="start center">
                <md-button class="md-raised google">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                            <span translate="LOGIN_V2.WITH_GOOGLE">Log in with Google</span>
                        </span>
                    </div>
                </md-button>

                <md-button class="md-raised facebook">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                            <span translate="LOGIN_V2.WITH_FACEBOOK">Log in with Facebook</span>
                        </span>
                    </div>
                </md-button>
            </div>

            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" translate="LOGIN_V2.DONT_HAVE_ACCOUNT">Don't have an account?</span>
                <a class="link" ui-sref="app.pages_auth_register-v2" translate="LOGIN_V2.CREATE_ACCOUNT">Create an
                    account</a>
            </div> -->

        </div>
    </div>
</div>