/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


//Custom core overrides

// Change splash colors
#splash-screen {
    
    .logo {
        background-color: transparent;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    }

    .spinner-wrapper {

        .spinner {
            .inner {
                .gap {
                }

                .left {
                    .half-circle {
                        border: 10px solid #fd657e;
                    }
                }
                .right {
                    .half-circle {
                        border: 10px solid #00ab81;
                    }
                }
            }
        }
    }
}

img.emoji {
   height: 1.5em;
   width: 1.5em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

//Disable default theme options menu
.ms-theme-options {

    .ms-theme-options-button {
        display: none;
    }
}



