<md-dialog aria-label="בחירת תמונה" layout-gt-xs="column" ng-controller="dialogController as vm" class="add-image-dialog">

    <div layout="row">
        <div layout-padding flex="100">
            <lf-ng-md-file-input lf-maxcount="1" lf-files="vm.files" drag lf-browse-label="חיפוש" lf-placeholder="בחר קובץ" lf-remove-label="מחק"
                lf-drag-and-drop-label="גרור תמונה" drag preview>
            </lf-ng-md-file-input>
        </div>
    </div>
    <div layout="row">
        <div layout-padding flex="100" layout-align="center end">

            <md-dialog-actions >
                <md-button ng-click="answer(vm.files)" flex>
                    שמירה
                    <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
                </md-button>
                <md-button ng-click="cancel()" flex>
                    יציאה
                    <md-icon md-font-icon="icon-window-close" class="s24"></md-icon>
                </md-button>
            </md-dialog-actions>
        </div>
    </div>
</md-dialog>