.ms-card {

    .template-9 {

        .header {

            .avatar {

                .image {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                }
            }
        }

        .media {

            .image {
                width: 100%;
            }
        }
    }
}
.template-9-copy{
md-card{
    width:90px;
    height:150px;

    img{
        width:100%;
        height:100%
    }
}
}