<div class="template-9-copy" ng-controller="msCardController as vm">
    <md-content layout-padding="" layout-align="start center">
        <div layout="row" layout-margin layout-wrap layout-align="center center">
            <md-card flex="100" ng-click="vm.showAdvanced(card)">
                <img ng-src="{{card.picture.thumb.source}}" alt="{{card.media.image.alt}}" ng-show="card.picture.thumb">
            </md-card>
        </div>

        <div layout-gt-xs="row">
            <form name="folderForm">
                <md-input-container class="md-block" flex-gt-xs="">
                    <label class="md-title">שם תיקיה</label>
                    <input required name="folder" placeholder="אנא ערוך כותרת" ng-model="card.title" ng-disabled="card.edit" md-maxlength="20">
                    <div ng-messages="folderForm.folder.$error">
                        <div ng-message="required">שם תיקיה הינו חובה</div>
                        <div ng-message="md-maxlength">אנא הזן שם תיקיה עם לא יותר מ 20 תווים</div>
                    </div>
                </md-input-container>
            </form>
        </div>
        <!--<div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs="">
                <label class="md-title">תוכן תיקיה</label>
                <textarea ng-model="card.content" md-maxlength="100" rows="3" md-select-on-focus="" ng-disabled="card.edit">
                </textarea>
            </md-input-container>
        </div>-->

    </md-content>
</div>