<div id="dashboard-analytics">

    <!-- WIDGETS -->
    <div id="widgets">

        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 1 -->
            <ms-widget flippable="false" layout="row" flex="100">

                <!-- Front -->
                <ms-widget-front class="white-bg">

                    <div class="p-24 border-bottom" layout="row" layout-align="space-between center">
                        <div class="text-boxed green-600-bg white-fg">{{vm.widget1.totalInstallations}} :מספר הורדות כולל</div>
                        <div class="h3">{{vm.widget1.title}}</div>
                    </div>

                    <div class="pb-32 border-bottom">
                        <nvd3 class="h-400 remove-opacity"
                              options="vm.widget1.bigChart.options"
                              data="vm.widget1.bigChart.data"></nvd3>
                    </div>

                    

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 1 -->

        </div>
        <!-- / WIDGET GROUP -->

        
    </div>
</div>