<!-- CHAT APP -->
<div id="chat-app" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card" layout="row" flex>

            <!-- LEFT SIDENAV -->
            <md-sidenav class="sidenav left-sidenav md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" 
                md-is-open="true"

                        md-component-id="left-sidenav"
                        ms-sidenav-helper ng-include="'app/main/apps/chat/sidenavs/left/left-sidenav.html'"
                        layout="column" flex-md="100" flex-sm="100" flex-xs="100">
            </md-sidenav>

            <!-- START -->
            <div class="start-point" ng-if="!vm.chat" flex layout="column" layout-align="center center">

                <div class="big-circle md-whiteframe-4dp">

                    <md-icon class="s128 md-accent" md-font-icon="icon-message"></md-icon>

                </div>

                <span class="app-title" translate="CHAT.APP_TITLE">Chat App</span>

                <span class="hide show-gt-md secondary-text" translate="CHAT.START_MESSAGE">Select contact to start the
                    chat!..</span>
                <md-button class="md-raised hide-gt-md" ng-click="vm.toggleSidenav('left-sidenav')"
                           translate="CHAT.START_MESSAGE">
                    Select contact to start the chat!..
                </md-button>

            </div>
            <!-- / START -->

            <!-- CHAT -->
            <div ng-show="vm.chat" class="chat" layout="column" flex>

                <!-- CHAT TOOLBAR -->
                <md-toolbar class="chat-toolbar">

                    <div class="md-toolbar-tools">

                        <!-- RESPONSIVE CHATS BUTTON-->
                        <md-button class="hide-gt-md responsive-chats-button md-icon-button"
                                   ng-click="vm.toggleLeftSidenavView(false);vm.toggleSidenav('left-sidenav')"
                                   aria-label="chats button" id="open-side-nav-bt">
                            <md-icon md-colors="{color:'primary-600'}" md-font-icon="icon-backburger s36"></md-icon>
                        </md-button>
                        <!-- / RESPONSIVE CHATS BUTTON-->

                        <!-- CHAT CONTACT-->
                        <div class="chat-contact" layout="row" layout-align="start center"
                             ng-click="vm.toggleSidenav('right-sidenav')">

                            <div class="avatar-wrapper">

                                <img ng-src="{{vm.currentConversation.customer.profilePicture.thumb.source}}"
                                     class="avatar" alt="{{vm.currentConversation.customer.firstName}}"/>

                                <i class="icon icon- s16 status"
                                   ng-class="vm.currentConversation.customer.status">
                                </i>

                            </div>

                            <div class="chat-contact-name">
                                {{vm.currentConversation.customer.fields.firstName+" "+
                                vm.currentConversation.customer.fields.lastName}}
                            </div>

                        </div>
                        <!-- / CHAT CONTACT-->

                        <!-- <md-menu md-position-mode="target-right target">

                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                       aria-label="more">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.toggleSidenav('right-sidenav')" translate="CHAT.CONTACT_INFO">
                                        Contact Info
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.clearMessages()" translate="CHAT.CLEAR_MESSAGES">
                                        Clear Messages
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>

                        </md-menu> -->

                    </div>
                </md-toolbar>
                <!-- / CHAT TOOLBAR -->

                <!-- CHAT CONTENT -->
                <md-content id="chat-content" flex upwards-scoll="vm.loadMoreMessages">

                    <!-- CHAT MESSAGES -->
                    <div class="chat-messages" ng-if="vm.chat">
                        <div vm layout="row" layout-sm="column" ng-if="!vm.currentConversation.customer.noMoreHistory" layout-align="center center">

                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <!-- MESSAGE -->
                        <div layout="row" ng-repeat="dialog in vm.chat" class="md-padding message-row"
                             ng-class="dialog.who">

                            <img ng-if="dialog.who ==='contact'"
                                 ng-src="{{vm.customers.getById(vm.currentConversation.customer.id).profilePicture.thumb.source}}"
                                 class="avatar"
                                 alt="{{vm.customers.getById(vm.currentConversation.customer.id).name}}"/>

                            <img ng-if="dialog.who ==='user'" class="avatar" ng-src="{{vm.user.profilePicture.thumb.source}}">

                            <div class="bubble">
                                <div class="message convert-emoji" ng-bind-html="dialog.text"></div>
                                <div class="time secondary-text">{{dialog.date | altDate}}</div>
                            </div>

                        </div>
                        <!-- / MESSAGE -->

                    </div>
                    <!-- CHAT MESSAGES -->

                </md-content>
                <!-- / CHAT CONTENT -->

                <!-- CHAT FOOTER -->
                <div class="chat-footer flex-noshrink" layout="row" layout-align="center center">

                    <!-- REPLY FORM -->
                    <form flex class="reply-form" layout="row" layout-align="start center">

                        <md-input-container ng-if="vm.mobileAndTabletcheck()" flex md-no-float>
                            <textarea id="message-area" ng-keyup="vm.reply($event)" md-no-autogrow ng-model="vm.replyMessage" ng-focus="vm.onMessageAreaFocus()" ng-class="{'grow': vm.textareaGrow}" placeholder="כתוב משהו" translate translate-attr-placeholder="CHAT.REPLY_PLACEHOLDER">
                                                        </textarea>
                        </md-input-container>

                        <textarea ng-if="!vm.mobileAndTabletcheck()" id="message-area" ng-keyup="vm.reply($event)" md-no-autogrow ng-model="vm.replyMessage" ng-class="{'grow': vm.textareaGrow}" placeholder="כתוב משהו" translate translate-attr-placeholder="CHAT.REPLY_PLACEHOLDER">
                        </textarea>

                            
                        <md-button id="send-button" ng-disabled="!vm.isChatConnected" class="md-fab" ng-click="vm.reply()" aria-label="Send message" translate
                                   translate-attr-aria-label="CHAT.SEND_MESSAGE">
                            <md-icon md-font-icon="icon-send"></md-icon>
                        </md-button>

                    </form>
                    <!-- / REPLY FORM -->

                </div>
                <!-- / CHAT FOOTER-->

            </div>
            <!-- / CHAT -->

            <!-- RIGHT SIDENAV -->
            <md-sidenav class="sidenav right-sidenav md-sidenav-right" layout="column" layout-align="space-between center"
                        md-component-id="right-sidenav"
                        ms-sidenav-helper ng-include="'app/main/apps/chat/sidenavs/right/right-sidenav.html'">
            </md-sidenav>
            <!-- / RIGHT SIDENAV -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
<!-- / CHAT APP