#foldersView {
    position: relative;
    width: 100%;
    min-height: 800px;
    .md-dialog-container {
        z-index: 805;
        top: 15% !important;
        height: 70% !important;
        width: 60%;
        margin-left: 33%;
        margin-right: 33%;
        direction: rtl;
    }
    .md-dialog-content {
        direction: rtl;
    }
    #saveMessage {
        color: red;
    }
}

.folderCard {
    cursor: pointer;
    position: relative;
    //overflow: hidden;
    width: 100%;
    height: 275px;
    max-width: 300px !important;
    border-radius: 10px !important;
    background: rgba(245, 245, 245, 1);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
}

.folder-picture {
    height: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

// .gridster-item{
//  display: inline-table !important;
//  height: 461px ;
//     width: 410px ;
// }
#fab-buttons {
    position: fixed;
    bottom: 15px;
    right: 8px;
    padding: 0;
    z-index: 801;

}

#todo {
    // Single scroll
    &.single-scroll {
        .todo-list-pane {
            //overflow: hidden;
        }
    }
    .todo-list-pane {
        .todo-items {
            &.sortable {
                .todo-item {
                    padding: 16px 16px 16px 48px;
                    .handle {
                        display: block;
                    }
                }
            }
        }
        .todo-items {
            overflow-x: hidden;
        }
    }
}

.todo-item {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: none;
    cursor: pointer;
    &.todo-item-placeholder {
        background: rgba(0, 0, 0, 0.12);
        * {
            opacity: 0;
        }
    }
    .handle {
        display: none;
        position: absolute;
        height: 100%;
        width: 48px;
        top: 0;
        left: 0;
        cursor: move;
        text-align: center;
        .md-icon {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .tags {
        font-size: 12px;
        .tag {
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);
            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }
    &.completed {
        background: #EEEEEE;
        .title,
        .notes {
            color: rgba(0, 0, 0, 0.54);
            text-decoration: line-through;
        }
    }
    &.selected {
        background: #FFF8E1;
    }
    .info {
        margin: 0 16px 0 8px;
        .title {
            font-size: 15px;
            font-weight: 500;
        }
        .notes {
            margin-top: 4px;
        }
    }
    .buttons {
        .is-starred {
            margin: 0 0 0 16px;
        }
        .is-important {
            margin: 0;
        }
    }
}
.no-images-button{
    float: right;
    font-size:50px;
    right: 30%;
    top: 40%;
    padding: 20px;
    position: absolute;
}

.todo-item-ghost {
    opacity: 1 !important;
    background: #FFFFFF;
    box-shadow: $whiteframe-shadow-14dp;
    border: none;
    .md-ripple-container {
        display: none;
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {
    #todo {
        .todo-list-pane {
            .sortable {
                .todo-items {
                    .todo-item {
                        padding-left: 32px;
                    }
                }
            }
            .todo-items {
                .todo-item {
                    .handle {
                        width: 32px;
                    }
                }
            }
        }
    }
}


/**FOLDERS RESPONSIVE**/


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    md-dialog.add-image-dialog {
        direction: ltr;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 2%;
    }
    .md-scroll-mask {
        bottom: auto;
    }
    #foldersView {
        .md-dialog-container {
            position: fixed;
            top: 0 !important;
            height: 20% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            direction: rtl;
            font-size: 0.8em !important;
        }
    }
        .no-images-button{
    font-size:35px;
    right: 0%;
    top: 7%;
}
}


/* Portrait */

// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
// }

/* Landscape */

// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
// }

/* ----------- iPhone 5 and 5S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    #foldersView {
        .md-scroll-mask {
            bottom: auto;
        }
        .md-dialog-container {
            position: fixed;
            top: 1% !important;
            height: 90% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            direction: rtl;
            font-size: 0.8em !important;
        }
        md-dialog.add-image-dialog {
            direction: ltr;
            width: 400px;
            height: 400px;
            top: 2%;
        }
    }
    .no-images-button{
    font-size:35px;
    right: 0%;
    top: 7%;
}
}


/* Portrait */

// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
// }

/* Landscape */

// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
// }

/* ----------- iPhone 6 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .page-layout.carded {
        height: auto !important;
    }
    #foldersView {
        .md-dialog-container {
            position: fixed;
            top: 0 !important;
            height: 90% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 2%;
            direction: rtl;
        }
    }
    .no-images-button{
    font-size:35px;
    right: 10%;
    top: 7%;
}
}


/* Landscape */

@media only screen and (min-device-width: 569px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .page-layout.carded {
        height: auto !important;
    }
    #foldersView {
        .md-dialog-container {
            position: fixed;
            top: 0 !important;
            height: 40% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 2%;
            direction: rtl;
        }
    }
        .no-images-button{
    font-size:35px;
    right: 0%;
    top: 45%;
}
}


/* ----------- iPhone 6+ ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .page-layout.carded.fullwidth.single-scroll {
        height: auto !important;
    }
    #foldersView {
        .md-dialog-container {
            position: fixed;
            top: 30% !important;
            height: 45% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 2%;
            direction: rtl;
        }
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .page-layout.carded {
        height: auto !important;
    }
    #foldersView {
        .md-dialog-container {
            position: fixed;
            top: 15% !important;
            height: 40% !important;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 0 !important;
            direction: rtl;
        }
    }
}

.header {
    height: 0px !important;
    min-height: 0px !important;
}
