<!--<pre dir="ltr">{{vm.model | json}}</pre>-->
<div layout="row" id="fab-buttons">
    <!--ADD FOLDER BUTTON-->
    <md-button ng-disabled="vm.model.showPlus" class="md-fab md-accent md-icon-button" id="new-folder-fab" ng-click="vm.addFolder()" aria-label="הוסף תיקיה" translate translate-attr-aria-label="GALLERY.ADD_FOLDER">
        <md-icon md-font-icon="icon-plus" aria-hidden="true"></md-icon>
        <md-tooltip md-delay="500">הוסף תיקייה חדשה</md-tooltip>
    </md-button>
    <!-- / ADD FOLDER BUTTON-->
    <!--  SAVE FOLDERS BUTTON-->
    <md-button ng-disabled="vm.model.showPlus" ng-show="!vm.needFolderSave" class="md-fab md-accent md-icon-button" id="save-folders-fab" ng-click="vm.editFolder()" aria-label="הוסף תיקיה" translate translate-attr-aria-label="GALLERY.SAVE_FOLDERS">
        <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
        <md-tooltip md-delay="500">שמור את כל השינויים בתיקיות</md-tooltip>
    </md-button>
    <md-button ng-disabled="vm.model.showPlus" ng-show="vm.needFolderSave" class="md-fab md-green-bg md-icon-button" id="save-folders-button2" ng-click="vm.editFolder()" aria-label="הוסף תיקיה" translate translate-attr-aria-label="GALLERY.SAVE_FOLDERS">
        <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
        <md-tooltip md-delay="500">שמור את כל השינויים בתיקיות</md-tooltip>
    </md-button>
    <!-- / SAVE FOLDERS BUTTON-->
</div>
<div style="position:fixed; height: 100%; width: 100%; overflow-y: auto;">
    <div class="content" md-background-bg layout="row" layout-align="start start" style="overflow-y: auto;">
        <div id="foldersView" class="page-layout carded fullwidth single-scroll ng-scope layout-row" layout="row" dir="rtl" style="overflow-y: auto;">
            <!-- TOP BACKGROUND -->
            <div class="top-bg md-accent-bg"></div>
            <!-- / TOP BACKGROUND -->
            <!-- CENTER -->
            <div class="center" layout="column" flex>
                <!-- CONTENT HEADER -->
                <div class="header" layout="row" layout-align="space-between center">
                    <div class="white-fg" layout="column" layout-align="start start">
                        <!--                 <span class="md-display-3 white-fg">תיקיות</span>
 --></div>
                </div>
                <!-- / CONTENT HEADER -->
                <!-- CONTENT CARD -->
                <div class="content-card" layout="column" flex>
                    <!-- CONTENT -->
                    <div class="content fullpage-datatable" layout="column" flex>
                        <md-content class="content _md md-default-theme flex  ps-theme-default ps-active-y" flex>

                          <md-button ng-if="vm.folders.length < 1" class="md-button no-images-button" ng-click="vm.addFolder()" aria-label="more" style="">
                <md-icon md-font-icon="icon-plus-box" style="font-size:40px;"></md-icon>
                    הוסף תקייה</md-button >

                            <div layout-gt-xs="row" layout-xs="column" layout-wrap ui-sortable="vm.sortableOptions" ng-model="vm.folders">
                                <div class="folderCard" flex-xs="100" flex-gt-xs="30" ng-repeat="folder in vm.folders track by folder.id" layout-margin layout-wrap id="popupContainer">
                                    <!-- <label  id="saveMessage" class="md-title" ng-if="!folder.edit" >בצע שמירה !</label> -->
                                    <div layout="row">
                                    <md-button class="md-button" ng-click="$event.stopPropagation();vm.changeFolderImage(folder)" aria-label="more" style="float: right;">

                                        <md-icon md-font-icon="icon-tooltip-edit"></md-icon>
                                        החלף תמונה
                                        <md-tooltip md-delay="750">החלף תמונת תיקייה</md-tooltip>
                                    </md-button >

                                    <md-menu md-position-mode="target-left target" ng-click="$event.stopPropagation()">

                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="more" style="position: absolute;
left:10px;" >
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                            <md-tooltip md-delay="1250">אפשרויות נוספות</md-tooltip>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button class="md-button md-menu-item md-raised md-warn" aria-label="delete" ng-click="vm.deleteFolder($event,folder)">
                                                    <!-- <md-icon md-font-icon="icon-delete" style="color: rgb(200,75,75);"></md-icon> -->
                                                    מחק תקייה
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    </div>

                                    <div layout="row" >
                                        <md-card flex="100" ng-model="vm.folders[$index]">
                                            <div class="folder-picture" ng-if="folder.picture.thumb.source" style="background-image: url('{{folder.picture.thumb.source}}'); " ng-click="vm.moveToImageView(folder.id)" flex>
                                            </div>
                                            <md-tooltip md-delay="2000">היכנס לתקייה</md-tooltip>
                                        </md-card>
                                    </div>
                                    <div layout-gt-xs="row">
                                        <form name="folderForm">
                                            <md-input-container class="md-block" flex-gt-xs="">
                                                <!-- <label class="md-title">שם תיקיה</label> -->
                                                <md-button type="button" ng-click="$event.stopPropagation()">
                                                    <input name="folder" placeholder="שם התקייה" ng-model="folder.title" ng-keypress="$event.stopPropagation();" ng-click="$event.stopPropagation();vm.needFolderSave = true;folder.edited = true" ng-change="vm.needFolderSave = true; " aria-label="">
                                                </md-button>
                                            </md-input-container>
                                        </form>
                                    </div>
                                    <!--   
                                <ms-card  template="'app/core/directives/ms-card/templates/template-9-copy/template-9-copy.html'" ng-model="vm.folders[$index]">
                                </ms-card> -->
                                    <div layout="row" layout-align="center center">
                                        <!-- <md-button flex class="md-icon-button" aria-label="openFolder" ng-click="vm.moveToImageView(folder.id)">
                                    <md-icon md-font-icon="icon-file-image-box" class="s24"></md-icon>
                                </md-button> -->
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </div>
                    <!-- / CONTENT -->
                </div>
                <!-- / CONTENT CARD -->
            </div>
            <!-- / CENTER -->
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.model.initialized===false">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
</div>
