<md-dialog aria-label="בחירת תמונה" ng-controller="dialogController as vm" class="add-image-dialog">
    <form name="imageUploadForm" layout="column">
        <div layout="column" layout-padding>
            <div flex="50" ms-scroll>
                <lf-ng-md-file-input name="files" lf-files="vm.files" lf-browse-label="חיפוש" lf-placeholder="בחר קובץ" lf-remove-label="מחק" lf-drag-and-drop-label="גרור תמונות" accept="image/jpeg, image/jpg, image/png" lf-filesize="5MB" lf-required multiple drag preview>
                </lf-ng-md-file-input>
                <div ng-messages="imageUploadForm.files.$error" style="color:red; text-align: center;">
                    <div ng-message="required">בחר תמונה כדי להמשיך.</div>
                    <div ng-message="filesize">אחת התמונות שבחרת גדולה מ 5 מגה בייט. אנא נסה שנית עם קובץ קטן יותר.</div>
                    <div ng-message="mimetype">התמונה חייבת להיות מסוג .Png/.Jpeg/.Jpg .</div>
                </div>
            </div>

            <div flex="50">
                <md-dialog-actions>
                    <md-button ng-click="answer(vm.files)" ng-disabled="imageUploadForm.$invalid" flex>
                        שמירה
                        <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
                    </md-button>
                    <md-button ng-click="cancel()" flex>
                        יציאה
                        <md-icon md-font-icon="icon-window-close" class="s24"></md-icon>
                    </md-button>
                </md-dialog-actions>
            </div>
        </div>
    </form>
</md-dialog>
