#announcementEditor {
    position: relative;


    > .header {
        height: 76px;
        min-height: 76px;
        max-height: 76px;


        md-icon {
            color: #FFFFFF;
        }

    }

    > .content {
        position: absolute;
        top: 0px;
        bottom: 0;
        right: 0;
        left: 0;

       

        .main {
            padding: 0px 90px 0 4px;
            position: absolute;
            top: 0;
            left: 0px;
            right: 0;
            bottom: 0;

            .announcements-list {
                position: relative;
                padding-bottom: 0;

                

                .field-text-column {
                    width: 130px;
                }

                .select-checkbox {
                    margin-bottom: 0px;
                }

            }

            .no-results {
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
            }
        }
    }

    .fab-button {
        position: absolute;

    }
}

// RESPONSIVE WIDE SCREEN
@media screen and (min-width: $layout-breakpoint-md) {

    #announcementEditor {

        > .content {
            top: 0px;

            .main {
                // right: 268px;
            }
        }
    }
}

#avatar{
    height: 40px;
    width: 40px;
}


// RTL fix
#announcementEditor {

    > .header {
        direction: rtl;
    }

    #new-announcement-button {
        left: 8px;
        bottom: 20px

    }

    #delete-announcement-button {
        right: 8px;
        bottom: 20px

    }


    > .content {
        direction: rtl;

        > md-sidenav {
            height: 100%;
            margin-right: 0px;
        }


        .main {
            padding: 0px 4px 0 0;


            .announcements-list {
                direction: rtl;

                .secondary-text {
                    text-align: right;
                }
        
            }
        }
    }
}


// Customization
.dataTables_wrapper {

    .dtr-title {
        margin-left: 8px;
        margin-right: 0px;
    }
    
    .table-row{
        cursor: pointer;
    }

    .info {
        margin-right: 20px;
    }
}



// RESPONSIVE SHORT SCREEN
@media screen and (max-width: $layout-breakpoint-xs) {


   

    #announcementEditor {
        > .header {

            .logo {
                .logo-text {
                    display: none;
                }
            }
        }

        > .content {

            .main {
                left: 0px;
                padding: 0px 0px 25px 0px;
                overflow-y: scroll; /* has to be scroll, not auto */
                -webkit-overflow-scrolling: touch;
            }
        }
    }


    .dataTables_wrapper {
        .info {
            display: none !important;
        }
    }


}