<div id="announcementEditor" class="page-layout carded fullwidth">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">
        <!-- APP TITLE -->
        <!-- <div layout="row" layout-align="start center">
            <span hide-gt-md>סנן</span>
            <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')" aria-label="Toggle sidenav" translate translate-attr-aria-label="CUSTOMERS.TOGGLE_SIDENAV">
                <md-icon md-font-icon="icon-filter-variant" class="icon"></md-icon>
            </md-button>
        </div> -->
        <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">
        <!-- SIDENAV -->
        <!--  <md-sidenav class="sidenav main-sidenav md-sidenav-right md-white-bg" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav" ms-sidenav-helper ng-include="'app/main/apps/announcementEditor/sidenavs/main/main-sidenav.html'">
        </md-sidenav> -->
        <!-- / SIDENAV -->
        <!-- MAIN -->
        <div class="main" ms-scroll>
            <!-- CONTACT LIST -->
            <div class="announcements-list">
                <div class="white-bg md-whiteframe-4dp">
                    <div ng-if="vm.isLoading || vm.isFiltering" vm layout="row" layout-sm="column" layout-align="center center">
                        <md-progress-linear layout="row" layout-align="center center" md-mode="indeterminate"></md-progress-linear>
                    </div>
                    <table ng-if="!vm.isLoading" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <md-checkbox class="select-checkbox" aria-label="בחר הכל" ng-click="vm.toggleAll()" ng-checked="vm.selectAll">
                                        </md-checkbox>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">תאריך עדכון</span>
                                    </div>
                                </th>
                                <th style="max-height: 150px;max-width: 150px;" class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">'תמונה'</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">תוכן</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" ng-repeat="announcement in vm.announcements">
                                <td></td>
                                <td>
                                    <md-checkbox class="select-checkbox" aria-label="בחירת משתמש" ng-click=" vm.toggleOne(announcement.id)" ng-checked="vm.selected[announcement.id]">
                                    </md-checkbox>
                                </td>
                                <td><span ng-click="vm.openAnnouncementDetailsDialog(announcement);" am-time-ago="announcement.created"></span></td>
                                <td style="max-height: 150px;max-width: 1px;">
                                    <md-button style="max-height: 150px;max-width: 150px;"><img style="max-height: 150px;max-width: 150px;" ng-if="announcement.picture.thumb.source" alt="{{announcement.title}}" ng-src="{{announcement.picture.thumb.source}}" ng-click="vm.changeAnnouncementImage(announcement)" />
                                        <md-tooltip md-direction="top" md-delay="350">החלף תמונה</md-tooltip>
                                    </md-button>
                                </td>
                                <td ng-click="vm.openAnnouncementDetailsDialog(announcement);" style="text-overflow: ellipsis;
                                /* Required for text-overflow to do anything */
                                white-space: nowrap;
                                overflow: hidden;
                                max-width: 480px;
                                "><b>{{announcement.title}}</b> - {{announcement.content}}
                                    <md-tooltip md-direction="top" md-delay="1500">לחץ כדי לערוך פרטים</md-tooltip>
                                </td>
                                <!-- Created field -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- / CONTACT LIST -->
        </div>
        <!-- / MAIN -->
    </div>
    <!-- / CONTENT -->
    <!-- ADD CONTACT BUTTON -->
    <md-button class="fab-button md-fab md-accent md-icon-button" id="new-announcement-button" ng-click="vm.newAnnouncement($event)" aria-label="מחק את כל המסומנים" translate translate-attr-aria-label="announcement.NEW_ANNOUNCEMENT">
        <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        <md-tooltip md-direction="right">שליחת עדכון חדש</md-tooltip>
    </md-button>
    <!-- / ADD CONTACT BUTTON -->
    <!-- DELETE ANNOUNCEMENTS BUTTON -->
    <md-button ng-if="vm.selectedIdsArray().length !== 0" class="md-fab md-warn md-icon-button fab-button" id="delete-announcement-button" ng-click="vm.deleteAnnouncement($event)" aria-label="מחק את כל המסומנים" translate translate-attr-aria-label="announcement.DELETE">
        <md-icon md-font-icon="icon-trash"></md-icon>
        <md-tooltip md-direction="left">מחיקת כל העדכונים המסומנים</md-tooltip>
    </md-button>
    <!-- / ADD CONTACT BUTTON -->
</div>
