<md-dialog class="customer-dialog" aria-label="New Task">

    <form id="form" name="customerForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar ng-if="vm.announcement" ng-click="$event.stopPropagation(); vm.changeAnnouncementImage(announcement)" class="md-accent md-tall" layout="column" style=" width: 100%;height: 100%;background-size: cover; background-image: url('{{vm.announcement.picture.thumb.source}}')">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center" style="background-color:rgba(0,0,0,0.15); ">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CUSTOMERS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

            <!-- TOOLBAR MIDDLE -->
            <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center" >

            </div>
            <!-- / TOOLBAR MIDDLE -->

            <!--  TOOLBAR BOTTOM -->
            <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="center center">

                <div flex layout="row" layout-align="center center">



                    <div class="customer-name" style="position:absolute;bottom:0px;background-color:rgba(0,0,0,0.5); height: 40px; width: 100%; text-align: center; right:0px;"><span>{{vm.announcement.title}}</span></div>

                   <!--  <md-menu>
                        <md-button class="md-icon-button" aria-label="More" translate
                                   translate-attr-aria-label="TODO.MORE">
                            <md-icon md-font-icon="icon-account-multiple-plus" ng-click="$mdOpenMenu($event)"></md-icon>
                        </md-button>

                        <md-menu-content width="3">


                        </md-menu-content>
                    </md-menu> -->
                </div>
            </div>
            <!-- / TOOLBAR BOTTOM -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
<!--         <md-dialog-content ms-scroll> -->      
  <md-dialog-content>

            <md-input-container class="md-icon-float md-block">
                <label>כותרת</label>
                <!-- <md-icon md-font-icon="icon-account" class="name"></md-icon> -->
                <input ng-model="vm.announcement.title" type="text" md-maxlength="30" maxlength="30" ng-required="true" md-autofocus>
            </md-input-container>

            <md-input-container class="md-block">
                <label>תוכן</label>
                <textarea class="expand" ng-model="vm.announcement.content"  md-maxlength="500" maxlength="500" rows="3" ng-required="true" style="max-height:85px;overflow-y: scroll"> </textarea>
            </md-input-container>



           <!--  <div ng-if="!vm.allFields" layout="row" layout-align="center center">
                <md-button class="md-accent" ng-click="vm.allFields = true" translate="CUSTOMERS.SHOW_ALL_FIELDS">Show
                    All Fields
                </md-button>
            </div> -->

           <!--  <div ng-if="vm.allFields">
                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-phone"></md-icon>
                    <input ng-model="vm.customer.phoneNumber" placeholder="Phone number">
                </md-input-container>


                <div layout="row" layout-align="center center">
                    <md-button class="md-accent" ng-click="vm.allFields = false" translate="CUSTOMERS.FEWER_FIELDS">Fewer
                        Fields
                    </md-button>
                </div>

            </div> -->

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions style="width: 100%" layout="row" layout-align="space-between center">

<md-button style="position: absolute ;left: 15px; min-width: 45px;" ng-click="vm.deleteAnnouncement($event,announcement)"
                           class="md-warn md-raised"
                           aria-label="מחק עדכון">
                    <md-icon md-font-icon="icon-trash"></md-icon>
                      <md-tooltip>לחץ כאן כדי למחוק את העדכון לצמיתות</md-tooltip>

                </md-button>  

            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-click="vm.saveAnnouncement()"
                           class="send-button md-accent md-raised"
                           ng-disabled="customerForm.$invalid || customerForm.$pristine || vm.isSaving"
                           aria-label="שמור שינויים">
                    שמור שינויים
                </md-button>

 

            </div>

            <div layout="row">
                
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
