<div class="template-1-copy" layout="column" >
 <md-card flex="100"  ng-click="vm.showAdvanced(card,$event)" >
                        <img class="image" ng-src="{{card.picture.thumb.source}}" ng-show="card.picture.thumb.source">

            </md-card> 
    <!--<div class="media" flex>
    </div>-->
    <div flex>
        <!--<pre dir="ltr">{{card | json}}</pre>-->
        <md-input-container class="md-block" flex-gt-xs="">
            <label class="md-title">שם תמונה</label>
            <input class="md-headline" placeholder="אנא ערוך שם תמונה" ng-model="card.title" ng-disabled="card.edit">
        </md-input-container>
         <md-input-container class="md-block">
          <label class="md-title">תוכן</label>
          <textarea ng-model="card.content"  rows="5" md-select-on-focus  ng-disabled="card.edit"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs="" ng-if="false">
            <label class="md-title">מחיר</label>
            <input class="md-headline" placeholder="אנא ערוך שם תמונה" ng-model="card.price" ng-disabled="card.edit">
        </md-input-container>
    </div>


</div>