<md-dialog layout-padding class="slider-dialog">
    <div class="title h1" layout="row" layout-align="center center">
                {{imageName}}
            </div>
            
    <div layout="column">
        <div 
        flex="100" 
        ng-image-gallery 
        images="images" 
        methods="methods" 
        thumbnails="true" 
        img-bubbles="true" 
        inline="true" 
        bg-close="true"
        bubbles="true" 
        img-anim="fadeup" 
        on-open="opened();" 
        on-close="closed();">
        </div>
        <div flex="100">


            
            <md-dialog-actions>
                <md-button class="md-icon-button mr-16" aria-label="Favorite" ng-click="deleteImage()" flex>
                    <md-icon md-font-icon="icon-delete" class="s24"></md-icon>
                </md-button>
                <md-button ng-click="answer()" flex>
                    <md-icon md-font-icon="icon-content-save" class="s24"></md-icon>
                </md-button>   
            </md-dialog-actions>
        </div>
    </div>
</md-dialog>