md-dialog {
    &.new-announcement-dialog {
        z-index: 900;
        max-width: 800px;
        width: 92%;
        max-height: 600px;
        height: 92%;
        direction: rtl;
        .md-inline-form {
            height: 100%;
        }
        md-toolbar {
            height: 40px;
            min-height: 40px;
            max-height: 40px;
            .title {
                font-size: 17px;
            }
            .md-toolbar-tools-middle {
                height: 144px;
                min-height: 144px;
                max-height: 144px;
                .customer-avatar {
                    margin: 0;
                }
                .customer-name {
                    font-size: 24px;
                    margin: 8px 0;
                }
            }
            .md-toolbar-tools-bottom {
                md-menu {
                    margin: 0;
                }
            }
        }
        md-dialog-content {
            height: 100%;
            display: block;
            position: relative;
            .dialog-content-input {
                height: 140px !important;
            }
            .dialog-image-place-holder {
                border-radius: 5px;
                background-color: #E6E6E6;
                width: 250px;
                height: 150px;
            }
            .dialog-input-image {
                border-radius: 5px;
                background-color: #E6E6E6;
                width: 250px;
                height: auto;
            }
            .birthday-input {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: 0;
                padding: 0 0 32px 0;
                .md-button {
                    margin: 0 16px 0 0;
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    md-icon {
                        color: rgba(0, 0, 0, 0.87);
                    }
                }
                .md-datepicker-input-container {
                    display: flex;
                    flex: 1;
                }
            }
            .textarea-wrapper {
                md-input-container {
                    margin-top: 0;
                }
                md-icon {
                    color: rgba(0, 0, 0, 0.87);
                    margin: 0 8px 0 0;
                }
            }
        }
        md-dialog-actions {
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.03);
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.ms-stepper .ms-stepper-horizontal .ms-stepper-steps {
    // height : 400px;
}

/// Fix this fucking rtl problem
md-input-container label:not(.md-no-float):not(.md-container-ignore),
.md-placeholder {
    width: auto;
    right: 0px;
    left: auto;
}
