<!-- DIALOG -->
<md-dialog class="new-announcement-dialog" aria-label="New Task">
    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent md-tall" layout="column">
        <!-- TOOLBAR TOP -->
        <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
            <span class="title">{{vm.title}}</span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate translate-attr-aria-label="CUSTOMERS.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
        <!-- / TOOLBAR TOP -->
    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->
    <div ng-if="vm.isInProgress">
        <h4 layout="row" layout-align="center center" class="md-title">שולח עדכון...</h4>
        <md-progress-linear layout="row" layout-align="center center" md-mode="indeterminate"></md-progress-linear>
    </div>

    <div ng-if="vm.showSuccessMessage">
        <h4 layout="row" layout-align="center center" class="md-title">נשלח בהצלחה.</h4>
    </div>
    <div ng-if="vm.showErrorMessage">
        <h1 layout="row" layout-align="center center" class="red-500-fg">שליחת העדכון נכשלה!</h1>
        <h3 layout="row" layout-align="center center" >ייתכן כי אחד או יותר ממאפייני הקובץ אינם מתאימים, נסה לבחור קובץ אחר.</h3>
        <md-button class="md-accent md-raised" layout-align="center center" style="margin: auto;" layout="row" ng-click="vm.retry()">נסה שנית</md-button>
    </div>
    <form name="announcementStepper" ms-horizontal-stepper ng-submit="vm.sendAnnouncement($event)" ng-model="vm.announcementStepper" ng-show="vm.showNewAnnouncementForm" novalidate>
        <ms-horizontal-stepper-step ng-form="announcementCreation" step="1" step-title="'בחירת תמונה'">
            <md-dialog-content ms-scroll class="dialog-content">
                <div layout="row" layout-align="space-between center" flow-init="vm.ngFlowOptions" flow-name="vm.ngFlow.flow" flow-file-added="vm.fileAdded($file)">
                    <div class="dialog-image-place-holder" ng-if="!vm.imageFile || vm.isProccessing" layout="column" layout-align="center center" flex>
                        <div layout="column">
                            <md-icon ng-if="!vm.isProccessing" md-font-icon="icon-file-image" layout="row" layout-align="center center"></md-icon>
                            <md-progress-circular ng-if="vm.isProccessing" layout="column" layout-align="center center" flex ng-show="vm.isProccessing" md-mode="indeterminate"></md-progress-circular>
                            <md-button class="md-accent md-raised" layout="row" flow-btn>
                                בחר תמונה
                            </md-button>
                        </div>
                    </div>
                    <div class="dialog-input-image" ng-if="vm.imageFile && !vm.isProccessing" layout="column" layout-align="center center" flex>
                        <img class="dialog-input-image" flow-img="vm.imageFile">
                        <md-button class="md-accent md-raised" layout="row" flow-btn>
                            החלף תמונה
                        </md-button>
                    </div>
                    <input ng-show="false" ng-model="vm.imageFile" type="text" ng-required="true">
                </div>
            </md-dialog-content>
            <div layout="column" layout-align="center center" flex>
                <md-icon class="md-warn" md-font-icon="icon-alert-octagon" ng-if="!vm.fileSizeOk || !vm.fileTypeOk || !vm.fileDimensionsOk" style="font-size:36px" />
                <md-icon md-font-icon="icon-checkbox-marked-circle
" ng-if="vm.imageFile" style="color:rgb(89, 226, 168); font-size:36px" />
                <label class="md-warn font-weight-100" ng-if="!vm.fileSizeOk" style="color: rgb(200,75,75);">גודל מקסימלי של קובץ הינו 10mb. הקובץ שלך שוקל - {{vm.fileIntSize}}</label>
                <label class="md-warn font-weight-100" ng-if="!vm.fileTypeOk" style="color: rgb(200,75,75);">ניתן להעלות תמונות רק בפורמט: Png, Jpeg, jpg. הקובץ שלך הוא - {{vm.fileType}} </label>
                <label class="md-warn font-weight-100" ng-if="!vm.fileDimensionsOk" ng-hide="vm.isProccessing" style="color: rgb(200,75,75);">המידה המנימלית לתמונה חייב להיות לפחות 380x200. התמונה שלך היא {{vm.fileDWidth}}x{{vm.fileDHeight}}</label>
            </div>
        </ms-horizontal-stepper-step>
        <ms-horizontal-stepper-step ng-form="horizontalStep2" step="2" step-title="'יצירת עדכון'">
            <!-- DIALOG CONTENT -->
            <md-dialog-content ms-scroll class="dialog-content">
                <md-input-container class="dialog-title-input md-icon-float md-block" layout="column">
                    <label>כותרת</label>
                    <input md-maxlength="30" maxlength="30" ng-model="vm.announcement.title" type="text" md-autofocus ng-required="true">
                </md-input-container>
                <md-input-container flex class="md-block textarea-container">
                    <label>תוכן</label>
                    <textarea class="dialog-content-input" ng-model="vm.announcement.content" md-maxlength="500" maxlength="500" rows="5" ng-required="true"></textarea>
                </md-input-container>
                <div ng-if="vm.showFutureUsersCheckbox">
                    <md-checkbox ng-model="vm.futureUsers" aria-label="הודעה קבועה" flex>
                    </md-checkbox>
                    &nbsp העדכון יופיע גם אצל משתמשים עתידיים
                </div>
            </md-dialog-content>
            <!-- / DIALOG CONTENT -->
        </ms-horizontal-stepper-step>
    </form>
</md-dialog>
<!-- / DIALOG -->
