


// RTL Fixes

md-input-container.md-icon-right{
    padding-right: 0px;
}

.md-datepicker-triangle-button.md-button.md-icon-button{
    right: auto;
}

.md-datepicker-calendar-pane * {
    direction: rtl;
}

.md-select-menu-container {
    direction: rtl;
}
