

<md-divider></md-divider>

<!-- SIDENAV CONTENT -->
<md-content flex ms-scroll>
    <div ng-if="vm.isLoading" vm layout="row" layout-align="center center">

            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list ng-if="!vm.isLoading">
        <div ng-repeat="field in vm.fields" ng-switch="field.fieldType.inputType">
            <div ng-switch-when="string" ng-if="field.fieldType.predefinedValues && field.fieldType.predefinedValues.length < 4">
                <table>
                    <tr>
                        <md-subheader class="md-no-sticky">{{field.fieldType.name}}</md-subheader>
                    </tr>

                    <tr>
                        <td ng-repeat="value in field.fieldType.predefinedValues">
                          <md-checkbox aria-label="{{field.fieldType.key}}" ng-checked="vm.isValueInqFiltered('fields.'+field.fieldType.key,value)" ng-click="vm.toggleContainValueFilter('fields.'+field.fieldType.key,value)">
                            
                          </md-checkbox>

                            &nbsp{{value}}
                        </td>
                    </tr>
                    
                </table>
                <md-divider></md-divider>
            </div>

            <div ng-switch-when="string" ng-if="field.fieldType.predefinedValues && field.fieldType.predefinedValues.length >= 4">
                <table>
                    <tr>
                        <md-subheader class="md-no-sticky">{{field.fieldType.name}}</md-subheader>
                    </tr>

                    <tr>


                        <td>
                            <md-input-container>
                                <label>{{field.fieldType.name}}</label>
                                <md-select ng-model="vm.whereFilter['fields.'+field.fieldType.key].inq"
                                           md-on-close="vm.searchTerm[field.fieldType.key] = '';"
                                           data-md-container-class="selectdemoSelectHeader"
                                           multiple>
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="vm.searchTerm[field.fieldType.key]"
                                               type="search"
                                               placeholder="חפש {{field.fieldType.name}}"
                                               class="demo-header-searchbox md-text"
                                               ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                    <md-optgroup label="{{field.fieldType.name}}">
                                        <md-option ng-value="value" ng-repeat="value in field.fieldType.predefinedValues |
                                            filter:vm.searchTerm[field.fieldType.key]">{{value}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </td>
                    </tr>
                    
                </table>
                <md-divider></md-divider>
            </div>


            <div ng-switch-when="[string]" ng-if="field.fieldType.predefinedValues">
                <table>
                    <tr>
                        <md-subheader class="md-no-sticky">{{field.fieldType.name}}</md-subheader>
                    </tr>

                    <tr>


                        <td>
                            <md-input-container>
                                <label>{{field.fieldType.name}}</label>
                                <md-select ng-model="vm.whereFilter['fields.'+field.fieldType.key].inq"
                                           md-on-close="vm.searchTerm[field.fieldType.key] = '';"
                                           data-md-container-class="selectdemoSelectHeader"
                                           multiple>
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="vm.searchTerm[field.fieldType.key]"
                                               type="search"
                                               placeholder="חפש {{field.fieldType.name}}"
                                               class="demo-header-searchbox md-text"
                                               ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                    <md-optgroup label="{{field.fieldType.name}}">
                                        <md-option ng-value="value" ng-repeat="value in field.fieldType.predefinedValues |
                                            filter:vm.searchTerm[field.fieldType.key]">{{value}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </td>
                    </tr>
                    
                </table>
                <md-divider></md-divider>
            </div>
          
            <div ng-switch-when="number" ng-if="field.fieldType.key !== 'age'">
                <table>
                    <tr>
                        <md-subheader class="md-no-sticky">{{field.fieldType.name}}</md-subheader>
                    </tr>

                    <tr>
                        <td>
                            <md-input-container class="md-icon-float md-icon-right md-block">
                              <label>גדול מ</label>
                              <input type="number" min="0" step="1" ng-model="vm.whereFilter['fields.'+field.fieldType.key].gte">
                            </md-input-container>
                        </td>

                        <td>
                            <md-input-container class="md-icon-float md-icon-right md-block">
                              <label>קטן מ</label>
                              <input type="number" min="0" step="1" ng-model="vm.whereFilter['fields.'+field.fieldType.key].lte">
                            </md-input-container>
                        </td>
                    </tr>
                    
                </table>
                <md-divider></md-divider>
            </div>


            <div ng-switch-when="number" ng-if="field.fieldType.key === 'age'">
                <table>
                    <tr>
                        <md-subheader class="md-no-sticky">{{field.fieldType.name}}</md-subheader>
                    </tr>

                    <tr>
                        <td>
                            <md-input-container class="md-icon-float md-icon-right md-block">
                              <label>גדול מ</label>
                              <input type="number" min="0" step="1" ng-model="vm.whereFilter['fields.'+field.fieldType.key].gte" ng-change="vm.ageFieldChanged(vm.whereFilter['fields.'+field.fieldType.key].gte, true)">
                            </md-input-container>
                        </td>

                        <td>
                            <md-input-container class="md-icon-float md-icon-right md-block">
                              <label>קטן מ</label>
                              <input type="number" min="0" step="1" ng-model="vm.whereFilter['fields.'+field.fieldType.key].lte" ng-change="vm.ageFieldChanged(vm.whereFilter['fields.'+field.fieldType.key].lte, false)">
                            </md-input-container>
                        </td>
                    </tr>
                    
                </table>
                <md-divider></md-divider>
            </div>


            <div ng-switch-when="date" ng-if="field.fieldType.key !== 'dateOfBirth'">
                <table>
                    <tr>
                        <md-subheader class="md-no-sticky">{{field.fieldType.name}}</md-subheader>
                    </tr>

                    <tr>
                        <td>
                           <md-datepicker ng-model="vm.whereFilter['fields.'+field.fieldType.key].gte" md-placeholder="גדול מ"></md-datepicker>
                        </td>


                    </tr>
                    <tr>
                        <td>
                           <md-datepicker ng-model="vm.whereFilter['fields.'+field.fieldType.key].lte" md-placeholder="קטן מ"></md-datepicker>
                        </td>
                    </tr>
                    
                </table>
                <md-divider></md-divider>
            </div>


            <div ng-switch-when="date" ng-if="field.fieldType.key === 'dateOfBirth'">
                <table>
                    <tr>
                        <md-subheader class="md-no-sticky">{{field.fieldType.name}}</md-subheader>
                    </tr>

                    <tr>
                        <td>
                           <md-datepicker ng-model="vm.whereFilter['fields.'+field.fieldType.key].gte" md-placeholder="גדול מ" ng-change="vm.whereFilter['fields.age'].lte = undefined;"></md-datepicker>
                        </td>


                    </tr>
                    <tr>
                        <td>
                           <md-datepicker ng-model="vm.whereFilter['fields.'+field.fieldType.key].lte" md-placeholder="קטן מ" ng-change="vm.whereFilter['fields.age'].gte = undefined;"></md-datepicker>
                        </td>
                    </tr>
                    
                </table>
                <md-divider></md-divider>
            </div>

        </div>

    </md-list>





</md-content>
<!-- / SIDENAV CONTENT -->

    <div layout="row">
    <md-button ng-disabled="!vm.isFiltered()" layout="column" layout-align="center center" type="submit" ng-click="vm.clearFilters();"
               class="md-fab contacts-button"
               aria-label="סנן">
               <span>נקה</span>
        
    </md-button>
    <md-button ng-disabled="vm.isFiltering" layout="column" layout-align="center center" type="submit" ng-click="vm.filterCustomers()"
               class="md-fab contacts-button"
               aria-label="סנן">
               <md-progress-circular layout-align="center center" ng-show="vm.isFiltering" md-mode="indeterminate"></md-progress-circular>
               <span ng-if="!vm.isFiltering">סנן</span>
        
    </md-button>
    </div>
