.ms-card {

    .template-1 {

        .media {

            .image {
                width: 100%;
                border-radius: 2px 2px 0 0;
            }
        }
    }
}

.template-1{
.media{
    width:400px;
    height:280px;

    .image{
        width:100%;
        height:100%
    }
}
}