<div class="template-1">

    <div class="media">
        <img class="image" ng-src="{{card.picture.thumb.source}}"  ng-show="card.picture.thumb.source">
    </div>

    <div class="content pv-24 ph-16">
        <div class="title h1" ng-if="card.title">
            {{card.title}}
        </div>     
        <div class="text pt-16" ng-if="card.text">
            {{card.text}}
        </div>
    </div>
</div>